<template>
    <div>
        <div class="p-3 border-primary-green my-3">
            <h3 class="h-3">Información del Caso</h3>
            <FormCaso :info-form="$props.infoCaso" @getData="(data)=>{back(data)}" @formValidado="(data)=>{next(data)}" />
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-outline-primary border-squared mr-2" @click="emitGetData">Atrás</button>
            <button class="btn btn-primary border-squared" @click="sendForm">Enviar</button>
        </div>
    </div>
</template>

<script>
    import FormCaso from "../FormCaso";
    import {EventBus} from "../../../EventBus";
    export default {
        name: "Caso",
        components: {FormCaso},
        props: {
            infoCaso:{
                type: Object
            }
        },

        data() {
            return {


            }
        },

        methods: {
            next(data){
                this.$emit('next',data)
            },
            emitGetData(){
                EventBus.$emit('get-casos-form-data');
            },
            back(data){
                this.$emit('back',data)
            },
            sendForm(){
                EventBus.$emit('validate-casos-form');
            }
        },

        mounted() {

        },
    }
</script>
