<template>
    <div class="my-container bg-light-gray">
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-5">
                <h1 class="h-primary h-primary--light mb-0 bg-light-gray">Agregar Caso | <strong>{{currentPage}}</strong> &nbsp;</h1>
            </div>
            <div class="bg-white rounded p-4">
                <div class="row justify-content-between linea-verde linea-verde--light mb-5">
                    <div class="col pt-4">
                        <div class="d-flex justify-content-center">
                            <div :class="getClass('Denunciante')">
                                1
                            </div>
                        </div>
                        <p class="text-center">Denunciante</p>
                    </div>
                    <div class="col pt-4">
                        <div class="d-flex justify-content-center">
                            <div :class="getClass('Víctima')">
                                2
                            </div>
                        </div>
                        <p class="text-center">Víctima</p>
                    </div>
                    <div class="col pt-4">
                        <div class="d-flex justify-content-center">
                            <div :class="getClass('Información del Caso')">
                                3
                            </div>
                        </div>
                        <p class="text-center">Información del Caso</p>
                    </div>
                    <div class="col pt-4">
                        <div class="d-flex justify-content-center">
                            <div :class="getClass('Documentos')">
                                4
                            </div>
                        </div>
                        <p class="text-center">Documentos</p>
                    </div>
                </div>
                <transition name="fadeIn" mode="out-in">
                    <Denunciante :denunciante-id="result.denunciante_id" v-if="currentPage === 'Denunciante'" @next="(denuncianteId)=>{guardarDenunciante(denuncianteId)}" />
                    <Victima :organizacion-victima="result.organizacion_victima_id" :tipo-victima="result.tipo_victima" :victima-id="result.victima_id" v-else-if="currentPage === 'Víctima'"
                             @next="(victima)=>{guardarVictima(victima,'Información del Caso')}" @back="(data)=>{guardarVictima(data,'Denunciante')}"/>
                    <Caso :info-caso="result.info_caso" v-else-if="currentPage === 'Información del Caso'" @next="(data)=>{guardarInfoCaso(data)}" @back="(data)=>{guardarInfoCasoBack(data)}"/>
                    <Documentos :casoId="casoId" v-else-if="currentPage === 'Documentos'" />
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import Denunciante from "./Denunciante";
    import Victima from "./Victima";
    import Caso from "./Caso";
    import Documentos from "./Documentos";
    import CasoService from "../../../services/CasoService";
    import { EventBus } from "../../../EventBus";

    export default {
        name: "CasosWizard",
        components: {Documentos, Caso, Victima, Denunciante},
        props: {

        },

        data() {
            return {
                currentPage:"Denunciante",
                result:{
                    denunciante_id:"",
                    victima_id:"",
                    tipo_victima:"persona",
                    organizacion_victima_id:"",
                    info_caso: null
                },
                casoId:0
            }
        },

        methods: {
            getClass(name){
                if(this.currentPage === name){
                    return 'wizard-number__circle active'
                }else{
                    return 'wizard-number__circle'
                }
            },
            enviarForm(){
                alert('Enviando imaginariamente el formulario...')
            },
            guardarDenunciante(id){
                this.result.denunciante_id = id;
                this.currentPage = 'Víctima';
            },
            guardarVictima(data,page){
                this.result.victima_id = data.victima_id;
                this.result.tipo_victima = data.tipo_victima;
                if(data.tipo_victima === "comunidad"){
                    this.result.organizacion_victima_id = "";
                }else{
                    this.result.organizacion_victima_id = data.organizacion_victima_id;
                }
                this.currentPage = page;
            },
            async guardarInfoCaso(data){
                this.result.info_caso = data;
                let resp = await CasoService.store(this.result);
                if(resp.status === 201) {
                    let swalResp = await this.$swal({
                        title: "Bien!",
                        text: 'El caso se guardó correctamente. ¿Deseas agregar documentos?',
                        icon: "success",
                        buttons: ['No, salir', 'Si, agregar documentos']
                    });
                    if (swalResp) {
                        this.casoId = resp.data.id;
                        this.currentPage = 'Documentos'
                    } else {
                        this.$router.push({path: '/casos'})
                    }
                }else{
                    this.$swal({
                        title: "Error",
                        text: 'No fue posible guardar el caso. Intenta nuevamente.',
                        icon: "error",
                    });
                }
            },
            guardarInfoCasoBack(data){
                this.result.info_caso = data;
                this.currentPage = 'Víctima';
            }
        },

        mounted() {

        },

    }
</script>
