<template>
    <div>
        <div :class="!$props.vistaEditarCaso ? 'p-3 border-primary-green my-3' : 'my-3'">
            <!-- Modal -->
            <b-modal title="Crear Persona" v-model="isModalOpen" size="lg" hide-footer>
                <PersonasForm @guardarPersona="(data)=>{guardarPersona(data)}" />
            </b-modal>
            <div class="row">
                <div :class="(hasRole('administrador') || hasRole('casos'))?'col col-12 col-md-8 px-1':'col col-12 px-1'">
                    <ValidationObserver ref="observer" tag="form">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="persona">
                            <label for="persona">Persona</label>
                            <v-select :disabled="!(hasRole('administrador') || hasRole('casos'))" :options="personasComputed" id="persona" v-model="personaSelected"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </ValidationObserver>
                </div>
                <div v-if="hasRole('administrador') || hasRole('casos')" class="col col-12 col-md-4 px-1" style="padding-top: 32px">
                    <button class="btn btn-outline-primary btn-block border-squared" @click="isModalOpen = true">+ Agregar Persona</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3" v-if="!$props.vistaEditarCaso">
            <button class="btn btn-primary border-squared" @click="next">Siguiente</button>
        </div>
    </div>
</template>

<script>
    import PersonasForm from "../../personas/PersonasForm";
    import {EventBus} from "../../../EventBus";
    import PersonaService from "../../../services/PersonaService";
    export default {
        name: "Denunciante",
        components: {PersonasForm},
        props: {
            denuncianteId:{
                required:false,
                default:""
            },
            vistaEditarCaso:{
                type: Boolean,
                required:false,
                default: false
            }
        },

        data() {
            return {
                personas:[],
                isModalOpen:false,
                personaSelected:""
            }
        },

        methods: {
            async next(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('next',this.personaSelected.code)
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async getPersonas(selectPersona = false){
                EventBus.$emit('loading');
                let response =  await PersonaService.all('');
                EventBus.$emit('loading-close');
                this.personas = response.data
                if(selectPersona){
                    this.selectPersona()
                }
            },
            async guardarPersona(data){
                try{
                    let resp = await PersonaService.store(data);
                    this.isModalOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'La persona se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getPersonas();
                        this.personaSelected = {label: resp.data.nombres+' '+resp.data.apellido, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            selectPersona(){
                this.personaSelected = this.personasComputed.find((item)=>{
                    return Number(item.code) === Number(this.$props.denuncianteId)
                });
            }
        },

        computed:{
          personasComputed(){
              let arr = [];
              this.personas.forEach(item => {
                  arr.push({label: item.nombres+' '+item.apellido, code: item.id})
              });
              return arr
          }
        },

        watch:{
          denuncianteId(){
              if(this.$props.denuncianteId !== ""){
                  this.getPersonas(true)
              }else{
                  this.getPersonas()
              }
          }
        },

        mounted() {
            if(this.$props.denuncianteId !== ""){
                this.getPersonas(true)
            }else{
                this.getPersonas()
            }
            EventBus.$on('enviando-editar-caso',this.next)
        }
    }
</script>
