<template>
    <div>
        <div class="p-3 border-primary-green my-3">
            <DocumentosCaso :caso-id="caso" />
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-outline-primary border-squared mr-2" @click="back">Salir</button>
        </div>
    </div>
</template>

<script>
    import DocumentosCaso from "../documentos/DocumentosCaso";
    import {EventBus} from "../../../EventBus";
    export default {
        name: "Documentos",
        components: {DocumentosCaso},
        props: ['casoId'],

        data() {
            return {
                caso:this.$props.casoId
            }
        },

        methods: {
            back(){
                this.$router.push({path: '/casos'})
            }
        },

        watch:{
          casoId(){
              this.caso = this.$props.casoId
          }
        },

        mounted() {
            this.caso = this.$props.casoId
        }
    }
</script>
