<template>
    <div>
        <div :class="!$props.vistaEditarCaso ? 'p-3 border-primary-green my-3' : 'my-3'">
            <b-form-radio-group id="radio-group-2" v-model="tipoDeVictima" name="radio-sub-component">
                <b-form-radio value="persona">La víctima es una persona</b-form-radio>
                <b-form-radio value="comunidad">La víctima es una comunidad</b-form-radio>
            </b-form-radio-group>
            <transition name="fadeIn" mode="out-in">
                <div v-if="tipoDeVictima === 'persona'">
                    <!-- Modal -->
                    <b-modal title="Crear Persona" v-model="isModalPersonasOpen" size="lg" hide-footer>
                        <PersonasForm @guardarPersona="(data)=>{guardarPersona(data)}" />
                    </b-modal>
                    <b-modal title="Crear Liderazgo" v-model="isModalLiderazgoOpen" size="lg" hide-footer>
                        <GeneralesForm :item-data="{descripcion: ''}" @guardar="(data)=>{guardarLiderazgo(data)}"/>
                    </b-modal>
                    <ValidationObserver ref="formPersona" tag="form">
                        <div class="row">
                            <div :class="(hasRole('administrador') || hasRole('casos'))?'col col-12 col-md-8 px-1':'col col-12 px-1'">
                                <ValidationProvider rules="required" v-slot="{ errors }" name="persona">
                                    <label for="persona">Persona</label>
                                    <v-select :options="personasComputed" id="persona" v-model="personaSelected" :disabled="!(hasRole('administrador') || hasRole('casos'))"></v-select>
                                    <small class="text-danger">{{errors[0]}}</small>
                                </ValidationProvider>
                            </div>
                            <div v-if="hasRole('administrador') || hasRole('casos')" class="col col-12 col-md-4 px-1" style="padding-top: 32px">
                                <button type="button" class="btn btn-outline-primary btn-block border-squared" @click="isModalPersonasOpen = true">+ Agregar Persona</button>
                            </div>
                        </div>
                        <div class="row">
                            <div :class="(hasRole('administrador') || hasRole('casos'))?'col col-12 col-md-8 px-1':'col col-12 px-1'">
                                <ValidationProvider rules="required" v-slot="{ errors }" name="liderazgo">
                                    <label for="liderazgo">Liderazgo</label>
                                    <v-select :options="organizacionesComputed" id="liderazgo" v-model="organizacionSelected" :disabled="!(hasRole('administrador') || hasRole('casos'))"></v-select>
                                    <small class="text-danger">{{errors[0]}}</small>
                                </ValidationProvider>
                            </div>
                            <div v-if="hasRole('administrador') || hasRole('casos')" class="col col-12 col-md-4 px-1" style="padding-top: 32px">
                                <button type="button" class="btn btn-outline-primary btn-block border-squared" @click="isModalLiderazgoOpen = true">+ Agregar Liderazgo</button>
                            </div>
                        </div>
                    </ValidationObserver>
                </div>
                <div v-else-if="tipoDeVictima === 'comunidad'">
                    <b-modal title="Crear Comunidad" v-model="isModalComunidadOpen" hide-footer>
                        <GeneralesForm :item-data="{descripcion: ''}" :comunidad="true" @guardar="(data)=>{guardarComunidad(data)}"/>
                    </b-modal>
                    <ValidationObserver ref="formComunidad" tag="form">
                        <div class="row">
                            <div :class="(hasRole('administrador') || hasRole('casos'))?'col col-12 col-md-8 px-1':'col col-12 px-1'">
                                <ValidationProvider rules="required" v-slot="{ errors }" name="comunidad">
                                    <label for="comunidad">Comunidad</label>
                                    <v-select :disabled="!(hasRole('administrador') || hasRole('casos'))" :options="comunidadComputed" id="comunidad" v-model="comunidadSelected"></v-select>
                                    <small class="text-danger">{{errors[0]}}</small>
                                </ValidationProvider>
                            </div>
                            <div v-if="hasRole('administrador') || hasRole('casos')" class="col col-12 col-md-4 px-1" style="padding-top: 32px">
                                <button type="button" class="btn btn-outline-primary btn-block border-squared" @click="isModalComunidadOpen = true">+ Agregar Comunidad</button>
                            </div>
                        </div>
                    </ValidationObserver>
                </div>
            </transition>
        </div>
        <div class="row justify-content-center" v-if="!$props.vistaEditarCaso">
            <button class="btn btn-outline-primary border-squared mr-2" @click="back">Atrás</button>
            <button class="btn btn-primary border-squared" @click="next">Siguiente</button>
        </div>
    </div>
</template>

<script>
    import PersonasForm from "../../personas/PersonasForm";
    import PersonaService from "../../../services/PersonaService";
    import {EventBus} from "../../../EventBus";
    import OrganizacionService from "../../../services/OrganizacionService";
    import GeneralesForm from "../../generales/GeneralesForm";
    import ComunidadService from "../../../services/ComunidadService";

    export default {
        name: "Victima",
        components: {GeneralesForm, PersonasForm},
        props: {
            victimaId:{
                required:false,
                default:""
            },
            tipoVictima:{
                required:false,
                default:"persona"
            },
            organizacionVictima:{
                required:false,
                default:""
            },
            vistaEditarCaso:{
                type: Boolean,
                required:false,
                default: false
            }
        },

        data() {
            return {
                personas:[],
                isModalPersonasOpen:false,
                isModalComunidadOpen:false,
                isModalLiderazgoOpen:false,
                personaSelected:"",
                tipoDeVictima: this.$props.tipoVictima,
                comunidades:[],
                comunidadSelected:"",
                organizaciones:[],
                organizacionSelected:""
            }
        },

        methods: {
            async next(){
                let pasoValidacion;
                let data;
                if(this.tipoDeVictima === "persona"){
                    pasoValidacion = await this.$refs.formPersona.validate();
                    data = {
                        victima_id: this.personaSelected.code,
                        tipo_victima: this.tipoDeVictima,
                        organizacion_victima_id: this.organizacionSelected.code
                    };
                }else{
                    pasoValidacion = await this.$refs.formComunidad.validate();
                    data = {
                        victima_id: this.comunidadSelected.code,
                        tipo_victima: this.tipoDeVictima,
                        organizacion_victima_id: this.organizacionSelected.code
                    };
                }
                if (pasoValidacion) {
                    this.$emit('next',data)
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            async getPersonas(selectPersona, selectOrganizacion){
                EventBus.$emit('loading');
                this.personas =  (await PersonaService.all('')).data;
                this.organizaciones = (await OrganizacionService.all()).data;
                EventBus.$emit('loading-close');
                if(selectPersona){
                    this.selectPersona()
                }
                if(selectOrganizacion) {
                    this.selectOrganizacion()
                }
            },
            async getComunidades(selectComunidad){
                EventBus.$emit('loading');
                this.comunidades =  (await ComunidadService.all('')).data;
                EventBus.$emit('loading-close');
                if(selectComunidad){
                    this.selectComunidad()
                }
            },
            async guardarPersona(data){
                try{
                    let resp = await PersonaService.store(data);
                    this.isModalPersonasOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'La persona se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getPersonas(false, false);
                        this.personaSelected = {label: resp.data.nombres+' '+resp.data.apellido, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async guardarComunidad(data){
                try{
                    let resp = await ComunidadService.store(data);
                    this.isModalComunidadOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'La comunidad se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getComunidades();
                        this.comunidadSelected = {label: resp.data.descripcion, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async guardarLiderazgo(data){
                try{
                    let resp = await OrganizacionService.store(data);
                    this.isModalLiderazgoOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'El liderazgo se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getPersonas((this.$props.victimaId !== "" && this.$props.tipoVictima === "persona"),false);
                        this.organizacionSelected = {label: resp.data.descripcion, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            selectPersona(){
                this.personaSelected = this.personasComputed.find((item)=>{
                    return Number(item.code) === Number(this.$props.victimaId)
                });
            },
            selectComunidad(){
                this.comunidadSelected = this.comunidadComputed.find((item)=>{
                    return Number(item.code) === Number(this.$props.victimaId)
                });
            },
            selectOrganizacion(){
                this.organizacionSelected = this.organizacionesComputed.find((item)=>{
                    return Number(item.code) === Number(this.$props.organizacionVictima)
                });
            },
            back(){
                let data;
                if(this.tipoDeVictima === "persona"){
                    data = {
                        victima_id: this.personaSelected.code,
                        tipo_victima: this.tipoDeVictima,
                        organizacion_victima_id: this.organizacionSelected.code
                    };
                }else{
                    data = {
                        victima_id: this.comunidadSelected.code,
                        tipo_victima: this.tipoDeVictima,
                        organizacion_victima_id: this.organizacionSelected.code
                    };
                }
                this.$emit('back',data)
            }
        },

        watch:{
            victimaId(){
                this.getPersonas((this.$props.victimaId !== "" && this.$props.tipoVictima === "persona"),true);
                this.getComunidades((this.$props.victimaId !== "" && this.$props.tipoVictima === "comunidad"));
            },
            tipoVictima(){
                this.tipoDeVictima = this.$props.tipoVictima;
            },
            organizacionVictima(){
                this.selectOrganizacion()
            }
        },

        mounted() {
            this.getPersonas((this.$props.victimaId !== "" && this.$props.tipoVictima === "persona"),true);
            this.getComunidades((this.$props.victimaId !== "" && this.$props.tipoVictima === "comunidad"));
            EventBus.$on('enviando-editar-caso',this.next)
        },
        computed:{
            personasComputed(){
                let arr = [];
                this.personas.forEach(item => {
                    arr.push({label: item.nombres+' '+item.apellido, code: item.id})
                });
                return arr
            },
            comunidadComputed(){
                let arr = [];
                this.comunidades.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            organizacionesComputed(){
                let arr = [];
                arr.push({label: "No aplica", code: ""})
                this.organizaciones.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            }
        },
    }
</script>
