.aside-menu{
    display: flex;
    flex-direction: column;
    .menu__link{
        color: $light-gray;
        padding: 5px 10px;
        &:hover{
            color: $primary-green;
        }
        &.active{
            background-color: $extra-light-green;
            color: $primary-green;
        }
    }
}
