<template>
    <div>

    </div>
</template>

<script>
    export default {
        name: "Example",

        props: {
            algo: {
                type: String,
                required: false,
                default: 'today'
            }
        },

        data() {
            return {
                example: 'holaa'
            }
        },

        methods: {

        },

        mounted() {

        }
    }
</script>
