<template>
    <div>
        <div class="bg-white rounded p-3 mb-2">
            <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="generar()">
                <div class="row">
                    <div class="col col-12 col-md-6 p-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="fecha de inicio">
                            <label>Fecha inicial</label>
                            <datepicker :disabled-dates="{from: today}"
                                        format="dd/MM/yyyy" v-model="form.fecha_de_inicio" required></datepicker>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 p-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="fecha de final">
                            <label>Fecha final</label>
                            <datepicker :disabled-dates="{from: today, to: form.fecha_de_inicio}"
                                        format="dd/MM/yyyy" v-model="form.fecha_final" required></datepicker>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-6 p-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="departamento">
                            <label for="departamento">Departamento</label>
                            <v-select :options="departamentosComputed" id="departamento" v-model="departamentoSelected" @input="getMunicipios"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 p-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="municipio">
                            <label for="municipio">Municipio</label>
                            <v-select :options="municipiosComputed" id="municipio" v-model="municipioSelected"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <button class="btn btn-primary" :disabled="invalid" type="submit">Generar</button>
                </div>
            </ValidationObserver>
        </div>
        <div v-if="casos.length > 0" class="bg-white rounded p-3 mb-2">
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>Liderazgo</th>
                    <th>Número de casos</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="caso in casos">
                    <td style="text-transform: capitalize">{{caso.organizacions}}</td>
                    <td>{{caso.numeroHechos}}</td>
                </tr>
                <tr>
                    <th>TOTAL: </th>
                    <th>{{totalCasos}}</th>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-if="casos.length > 0" class="bg-white rounded p-3 mb-2">
            <vue-apex-charts width="100%" type="bar" :options="chart.options" :series="chart.series"></vue-apex-charts>
        </div>
    </div>
</template>

<script>
    import Datepicker from "vuejs-datepicker";
    import {EventBus} from "../../EventBus";
    import ReporteService from "../../services/ReporteService";
    import moment from 'moment';
    import VueApexCharts from 'vue-apexcharts';
    import MunicipioService from "../../services/MunicipioService";
    import DepartamentoService from "../../services/DepartamentoService";

    export default {
        name: "ReporteLiderazgo",
        components:{Datepicker, VueApexCharts},

        props: [],

        data() {
            return {
                form:{
                    fecha_de_inicio:"",
                    fecha_final:""
                },
                casos:[],
                chart:{
                    options: {},
                    series: []
                },
                municipios:[],
                departamentos:[],
                municipioSelected:null,
                departamentoSelected:null,
            }
        },

        methods: {
            async generar(){
                try {
                    EventBus.$emit('loading');
                    let inicio = moment(this.form.fecha_de_inicio).format('YYYY-MM-DD');
                    let fin = moment(this.form.fecha_final).format('YYYY-MM-DD');
                    let departamento = (this.departamentoSelected !== null && this.departamentoSelected !== "") ?
                        '&departamento=' + this.departamentoSelected.code : '';
                    let municipio = (this.municipioSelected !== null && this.municipioSelected !== "") ?
                        '&municipio=' + this.municipioSelected.code : '';
                    let resp = await ReporteService.liderazgo('?fecha_de_inicio=' + inicio +
                        '&fecha_final=' + fin + departamento + municipio);
                    if(resp.data.length === 0){
                        this.$swal({
                            title: "Error!",
                            text: "No existen casos para el rango de fechas seleccionado",
                            icon: "error",
                        })
                    }else {
                        this.casos = resp.data;
                        let series = [];
                        let options = [];
                        this.casos.forEach((item) => {
                            series.push(item.numeroHechos)
                            options.push(item.organizacions)
                        });
                        this.chart.options = {
                            xaxis: {
                                categories: options
                            },
                            title: {
                                text: "Reporte de casos por liderazgo de " + inicio + " a " + fin
                            },

                        };
                        this.chart.series = [{
                            name: 'casos',
                            data: series
                        }];
                    }
                    EventBus.$emit('loading-close')
                }catch(error) {
                    EventBus.$emit('loading-close')
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
                },
                async getMunicipios(){
                    EventBus.$emit('loading');
                    try {
                        if(this.departamentoSelected !== null && this.departamentoSelected !== '') {
                            this.municipioSelected = null;
                            this.municipios = (await MunicipioService.all(this.departamentoSelected.code)).data
                            EventBus.$emit('loading-close');
                        }else{
                            this.municipioSelected = null;
                            EventBus.$emit('loading-close');
                            this.municipios = [];
                        }
                    }catch (e) {
                        EventBus.$emit('loading-close');
                        this.$swal({
                            title: "Error!",
                            text: e.response.data.error.toString(),
                            icon: "error",
                        })
                    }
                },
                async getDepartamentos(){
                    this.departamentos = (await DepartamentoService.all()).data;
                }
            },

            computed:{
                today(){
                    let date = new Date();
                    date.setDate(date.getDate() + 1);
                    return new Date();
                },
                totalCasos(){
                    let total = 0;
                    this.casos.forEach((item)=>{
                        total = total+item.numeroHechos;
                    });
                    return total;
                },
                departamentosComputed(){
                    let arr = [];
                    this.departamentos.forEach(item => {
                        arr.push({label: item.descripcion, code: item.codigo})
                    });
                    return arr
                },
                municipiosComputed(){
                    let arr = [];
                    this.municipios.forEach(item => {
                        arr.push({label: item.descripcion, code: item.codigo})
                    });
                    return arr
                }
            },

            mounted() {
                this.getDepartamentos()
            }
        }
</script>
