<template>
    <div class="bg-light-gray my-container">
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Reportes &nbsp;</h1>
            </div>
            <div class="row mb-3">
                <div class="col col-12 p-1">
                    <select v-model="reporteSelected" class="form-control">
                        <option value="">Selecciona un reporte...</option>
                        <option value="municipios">Reporte de casos por municipio</option>
                        <option value="hechosVictimizantes">Reporte de Hechos Victimizantes</option>
                        <option value="hechosVictimizantesComparativo">Comparativo de Hechos Victimizantes</option>
                        <option value="genero">Reporte de casos por género</option>
                        <option value="responsablesHecho">Reporte de casos por responsables</option>
                        <option value="responsablesHechoComparativo">Comparativo de responsables de los hechos</option>
                        <option value="liderazgo">Reporte de casos por Liderazgo</option>
                        <option value="general">Reporte general</option>
                    </select>
                </div>
            </div>
            <transition name="fadeIn"
                        mode="out-in">
                <ReporteMunicipios v-if="reporteSelected === 'municipios'" />
                <ReporteHechosVictimizantes v-else-if="reporteSelected === 'hechosVictimizantes'" />
                <ReporteHechosComparativo v-else-if="reporteSelected === 'hechosVictimizantesComparativo'" />
                <ReporteGenero v-else-if="reporteSelected === 'genero'" />
                <ReporteResponsables v-else-if="reporteSelected === 'responsablesHecho'" />
                <ReporteResponsablesComparativo v-else-if="reporteSelected === 'responsablesHechoComparativo'" />
                <ReporteLiderazgo v-else-if="reporteSelected === 'liderazgo'" />
                <ReporteGeneral v-else-if="reporteSelected === 'general'" />
            </transition>
        </div>
    </div>
</template>

<script>
    import ReporteMunicipios from "./ReporteMunicipios";
    import ReporteHechosVictimizantes from "./ReporteHechosVictimizantes";
    import ReporteHechosComparativo from "./ReporteHechosComparativo";
    import ReporteGenero from "./ReporteGenero";
    import ReporteResponsables from "./ReporteResponsables";
    import ReporteLiderazgo from "./ReporteLiderazgo";
    import ReporteResponsablesComparativo from "./ReporteResponsablesComparativo";
    import ReporteGeneral from "./ReporteGeneral";
    export default {
        name: "Reportes",
        components: {
            ReporteGeneral,
            ReporteResponsablesComparativo,
            ReporteLiderazgo,
            ReporteResponsables,
            ReporteGenero, ReporteHechosComparativo, ReporteHechosVictimizantes, ReporteMunicipios},
        props: [],

        data() {
            return {
                reporteSelected:""
            }
        },

        methods: {

        },

        mounted() {

        }
    }
</script>
