//libraries
@import "~bootstrap";
@import "~bootstrap-vue";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "vue-select/src/scss/vue-select.scss";

//colors
$dark-green: #033425;
$light-green:#99CB50;
$extra-light-green: #D5F4E8;
$primary-green:#49AF73;
$light-gray:#A2A2A2;
$extra-light-gray: #EFEFEF;
$my-linear-gradient: linear-gradient(to right, $light-green, $primary-green);
$green-small-shadow: 5px 5px 10px rgba($primary-green,.6);
$green-big-shadow: 5px 5px 20px rgba($primary-green,.9);
$yellow: #FEC82D;

//general
@import "general/normalize";
@import "general/utilities";
@import "general/mixins";

//layout
@import "layout/sidebar";
@import "layout/mynav";

//pages
@import "pages/usuarios";
@import "pages/perfil";

//components
@import "components/button";
@import "components/wizard";
@import "components/mycard";
