.btn-primary{
    background: $my-linear-gradient !important;
    color: white;
    border-radius: 200px;
    padding: 5px 20px;
    box-shadow: $green-small-shadow;
    transition: all .3s;
    border: none !important;
    &:hover{
        transform: scale(1.02);
        box-shadow: $green-big-shadow;
    }
    &:focus{
        transform: scale(0.98);
        box-shadow: $green-small-shadow !important;
    }
}


.btn-outline-primary{
    background: white;
    color: $primary-green;
    border-radius: 200px;
    padding: 5px 20px;
    transition: all .3s;
    border: 1px solid $primary-green;
    &:hover{
        background: $primary-green;
        border: 1px solid $primary-green !important;
        color: white;
    }
    &:active{
        background: $primary-green !important;
        border: 1px solid $primary-green !important;
        color: white;
    }
    &:focus{
        box-shadow: none !important;
        outline: 1px $light-green;
    }
    &:disabled{
        color: $primary-green !important;
    }
}

.my-link{
    font-size: 20px;
    color: $dark-green;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:1px solid $dark-green;
    background: white;
    &:hover{
        color: $dark-green;
        background: $extra-light-green;
    }
}

.link-outline{
    @mixin generate-variant($color){
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        width: 35px;
        height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-color: $color;
        color: $color;
        &:hover{
            color: $color;
            background-color: rgba($color,.2);
        }
    }
    &--success {
        @include generate-variant($primary-green);
    }
    &--danger {
        @include generate-variant($danger);
    }
}
