.mycard{
    box-shadow: $box-shadow-sm;
    &__header{
        background: $extra-light-green;
        color: $dark-green;
        padding: 10px;
    }
    &__title{
        margin-bottom: 0;
        font-size: 16px;
        color: $primary-green;
    }
}
