.wizard-number{
    &__circle{
        width: 70px;
        border-radius: 50%;
        height: 70px;
        font-size: 25px;
        color: $primary-green;
        border: 2px solid $primary-green;
        background: white;
        transition: all 1s;
        @include center;
        &.active{
            border: none;
            color: white;
            background: $my-linear-gradient;
            box-shadow: $green-big-shadow;
            transform: scale(1.02)
        }
    }
}
