<template>
    <div class="bg-light-gray my-container">
        <div class="container">
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Backups &nbsp;</h1>
                <button class="btn btn-primary" @click="nuevoBackup">+ Nuevo Backup</button>
            </div>
            <div class="bg-white p-4 border-rounded">
                <div class="table-responsive">
                    <b-table class="table-hover" :items="backups" :fields="fields" id="table-backups">
                        <template v-slot:cell(Acciones)="backup">
                            <a class="my-link" v-b-tooltip.hover title="Descargar" href="javascript:void(0)" @click="download(backup.item.file_name)"><i class="fas fa-download"></i></a>
                            <a class="my-link" v-b-tooltip.hover title="Eliminar" href="javascript:void(0)" @click="eliminar(backup.item.file_name)"><i class="fas fa-trash"></i></a>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BackupService from "../../services/BackupService";
    import {EventBus} from "../../EventBus";

    export default {
        name: "Backup",
        components: {},
        props: {

        },

        data() {
            return {
                fields:[
                    {
                        key:'file_name',
                        label:'Nombre del archivo',
                        sortable:true
                    },
                    'Acciones',
                ],
                backups:[]
            }
        },

        methods: {
            async getItems(){
                EventBus.$emit('loading');
                let response =  await BackupService.all();
                EventBus.$emit('loading-close');
                this.backups = response.data;
                console.log(response)
            },
            async nuevoBackup(){
                EventBus.$emit('loading');
                let vm = this;
                try{
                    await BackupService.store();
                    EventBus.$emit('loading-close');
                    vm.$swal({
                        title: "Bien!",
                        text:"El backup se generó correctamente",
                        icon: "success",
                    }).then(()=>{
                        this.getItems()
                    });
                }catch(error){
                    EventBus.$emit('loading-close');
                    vm.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            download(name){
                EventBus.$emit('loading');
                let vm = this;
                try{
                    BackupService.download(name);
                    EventBus.$emit('loading-close');
                    vm.$swal({
                        title: "Bien!",
                        text:"El backup se descargó correctamente",
                        icon: "success",
                    })
                }catch(error){
                    EventBus.$emit('loading-close');
                    vm.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async eliminar(name){
                EventBus.$emit('loading');
                let vm = this;
                try{
                    await BackupService.delete(name);
                    EventBus.$emit('loading-close');
                    vm.$swal({
                        title: "Bien!",
                        text:"El backup se eliminó correctamente",
                        icon: "success",
                    }).then(()=>{
                        this.getItems()
                    });
                }catch(error){
                    EventBus.$emit('loading-close');
                    vm.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            }
        },

        mounted() {
            this.getItems()
        },

        computed:{

        }

    }
</script>
