<template>
    <div class="bg-light-gray my-container">
        <!-- Modal -->
        <b-modal :title="actionModal + ' Usuario'" v-model="isModalOpen" hide-footer>
            <UsuarioForm :usuario="usuarioEditar" @guardar="(data)=>{enviarForm(data)}"></UsuarioForm>
        </b-modal>
        <Loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="true" color="#49AF73" loader="dots"></Loading>
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Usuarios &nbsp;</h1>
            </div>
            <div class="row justify-content-between mb-3">
                <div class="col col-12 col-md-4 col-lg-auto px-0 mb-2">
                    <input @change="getUsers" v-model="inputBusqueda" class="form-control" placeholder="Buscar Usuario">
                </div>
                <div class="col col-12 col-md-auto px-0 mb-2">
                    <button class="btn btn-primary"
                            @click="crear">+ Nuevo Usuario</button>
                </div>
            </div>
            <div class="row mb-3">
                <div v-for="user in usuarios" class="col col-12 col-md-4 col-lg-3 p-1">
                    <UsuariosCard @editar="(data)=>{editar(data)}" @eliminar="(id)=>{eliminarUsuario(id)}" :user="user" />
                </div>
            </div>
            <div class="row justify-content-center">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    align="center"
                    @change="getUsers"
                ></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import UsuariosCard from "./UsuariosCard";
    import UsuarioService from "../../services/UsuarioService";
    import UsuarioForm from "./UsuarioForm";
    export default {
        name: "UsuariosIndex",
        components: {UsuarioForm, UsuariosCard},
        props: [],

        data() {
            return {
                isLoading: false,
                inputBusqueda: "",
                isModalOpen: false,
                usuarios:[],
                page:1,
                currentPage: 1,
                rows: 1,
                perPage: 10,
                usuarioEditar: null,
                actionModal:"Crear"
            }
        },

        methods: {
            getUsers(event){
                if(event){
                    this.page = event;
                }
                this.isLoading = true;
                let inputBusqueda = this.inputBusqueda !== '' ? '&termino='+this.inputBusqueda : '';
                UsuarioService.all('?page='+this.page+inputBusqueda+'&per_page='+this.perPage).then(resp => {
                    this.isLoading = false;
                    this.usuarios = resp.data.data;
                    this.currentPage = resp.data.current_page;
                    this.rows = resp.data.total;
                }).catch(error => {
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                })
            },
            crear(){
                this.actionModal = "Crear";
                this.usuarioEditar = null;
                this.isModalOpen = true;
            },
            editar(usuario){
                this.actionModal = "Editar";
                this.usuarioEditar = usuario;
                this.isModalOpen = true;
            },
            async guardarUsuario(data){
                try{
                    await UsuarioService.store(data);
                    this.isModalOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'El usuario se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getUsers()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            enviarForm(user){
                if(this.actionModal === 'Crear'){
                    this.guardarUsuario(user)
                }else{
                    if(this.actionModal === 'Editar'){
                        this.actualizarUsuario(user)
                    }
                }
            },
            async actualizarUsuario(data){
                try{
                    await UsuarioService.update(this.usuarioEditar.id,data);
                    this.isModalOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'El usuario se actualizó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getUsers()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async eliminarUsuario(id){
                await UsuarioService.delete(id)
                this.$swal({
                    title: "Bien!!",
                    text: 'El usuario se eliminó correctamente',
                    icon: "success",
                }).then(()=>{
                    this.getUsers()
                });
            },
        },

        mounted() {
            this.getUsers()
        }
    }
</script>

