<template>
    <div class="bg-white rounded p-3">
        <div class="mb-2 d-flex justify-content-center">
            <div class="circulo-letra">{{user.name.charAt(0)}}</div>
        </div>
        <h3 class="h-3 mb-0 text-center">{{user.name}}</h3>
        <p class="text-small-gray text-center">{{user.role}}</p>
        <div class="d-flex justify-content-around">
            <a class="my-link" @click="editar(user)" v-b-tooltip.hover title="Editar" href="javascript:void(0)"><i class="fas fa-edit"></i></a>
            <a class="my-link" @click="changePass(user.id)" v-b-tooltip.hover title="Resetear contraseña" href="javascript:void(0)"><i class="fas fa-undo-alt"></i></a>
            <a class="my-link" @click="eliminar(user.id)" v-b-tooltip.hover title="Eliminar" href="javascript:void(0)"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UsuariosCard",

        props: {
            user: {
                type: Object,
                required: true,
            }
        },

        data() {
            return {
                example: 'holaa'
            }
        },

        methods: {
            editar(user){
              this.$emit('editar',user)
            },
            changePass(id){
                this.$emit('changePass',id)
            },
            async eliminar(id){
                let swalResp = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar esta persona?',
                    icon: "warning",
                    buttons:["No, cancelar!", "Si, eliminar"]
                });
                if(swalResp) {
                    this.$emit('eliminar', id)
                }
            }
        },

        mounted() {

        }
    }
</script>
