<template>
    <div>
        <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="guardar()">
            <div class="form-group">
                <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                    <input v-model="form.name" class="form-control" placeholder="Nombre">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                    <input v-model="form.email" class="form-control" placeholder="Email">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required" v-slot="{ errors }" name="rol">
                    <select v-model="form.role" class="form-control">
                        <option value="">Selecciona rol</option>
                        <option value="administrador">Administrador</option>
                        <option value="casos">Casos</option>
                        <option value="consulta">Consulta</option>
                    </select>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div v-if="$props.usuario === null" class="form-group">
                <ValidationProvider rules="required|min:6|max:12" v-slot="{ errors }" name="contraseña">
                    <input v-model="form.password" class="form-control" placeholder="Contraseña" type="password">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>

            <div class="row justify-content-center">
                <button class="btn btn-primary" :disabled="invalid" type="submit">Guardar</button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    export default {
        name: "UsuarioForm",

        props: {
            usuario:{
                type: Object,
                required: false,
                default: null
            }
        },

        watch: {

        },

        data() {
            return {
                form:{
                    name:"",
                    email:"",
                    role:"",
                    password:""
                }
            }
        },

        methods: {
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    this.$emit('guardar', this.form)
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            actualizarForm(){
                this.form.name = this.$props.usuario.name;
                this.form.email = this.$props.usuario.email;
                this.form.role = this.$props.usuario.role;
            }
        },

        mounted() {
            if(this.$props.usuario !== null) {
                this.actualizarForm()
            }
        }
    }
</script>
