<template>
    <div class="mycard">
        <div class="row justify-content-between mycard__header">
            <h5 class="mycard__title"><i :class="($props.documento.tipo_documento === 'PDF' ? 'fas fa-file-pdf' :
    $props.documento.tipo_documento === 'IMAGEN' ? 'fas fa-file-image' :  $props.documento.tipo_documento === 'AUDIO' ? 'fas fa-file-audio' :
$props.documento.tipo_documento === 'VIDEO' ? 'fas fa-file-video' : $props.documento.tipo_documento === 'WORD' ? 'fas fa-file-word' : 'fas fa-file-excel')+' mr-2'"></i>{{$props.documento.nombre}}</h5>
            <div>
                <a v-if="hasRole('administrador') || hasRole('casos')" href="javascript:void(0)" @click="eliminar" class="mr-2"><i class="fas fa-trash"></i></a>
                <a v-if="hasRole('administrador') || hasRole('casos')" href="javascript:void(0)" @click="editar" class="mr-2"><i class="fas fa-edit"></i></a>
                <a :href="$props.documento.archivo" download><i class="fas fa-download"></i></a>
            </div>
        </div>
        <div class="p-2 d-flex flex-column justify-content-between" style="height: 90%">
            <div>
                <a :href="$props.documento.archivo" v-if="$props.documento.tipo_documento === 'IMAGEN'"  target="_blank">
                    <img :src="$props.documento.archivo" width="100%">
                </a>
                <div v-if="$props.documento.tipo_documento === 'PDF'">
                    <embed style="cursor: pointer" width="100%" height="200px" :src="$props.documento.archivo" type="application/pdf">
                    <a :href="$props.documento.archivo" class="text-center d-block text-dark" target="_blank">Abrir en otra ventana &#187;</a>
                </div>
                <audio v-if="$props.documento.tipo_documento === 'AUDIO'" style="width: 100%" controls>
                    <source :src="$props.documento.archivo" type="audio/*">
                </audio>
                <video v-if="$props.documento.tipo_documento === 'VIDEO'" width="100%" controls>
                    <source :src="$props.documento.archivo" type="video/*">
                </video>
            </div>
            <div class="mb-0">
                <p class="text-justify text-14">{{$props.documento.descripcion}}</p>
                <p class="text-center"><small class="text-primary">{{$props.documento.created_at}}</small></p>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "CardDocumento",

        props: {
            documento:{
                type: Object
            }
        },

        data() {
            return {
                example: 'holaa'
            }
        },

        methods: {
            async eliminar(){
                let swalResp = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar este documento?',
                    icon: "warning",
                    buttons:["No, cancelar!", "Si, eliminar"]
                });
                if(swalResp) {
                    this.$emit('eliminarDocumento')
                }
            },
            editar(){
                this.$emit('editarDocumento')
            }
        },

        mounted() {

        }
    }
</script>

<style>
    .mycard{
        height: 100%;
    }
</style>
