<template>
    <div>
        <h3 class="h-3 mb-3 ml-3">Documentos del caso</h3>
        <div v-if="hasRole('administrador') || hasRole('casos')" class="bg-light-gray p-3 mt-2">
            <FormDocumento @guardarDocumento="(data)=>{abrirModalComentario(data,'crear')}" />
        </div>
        <div class="row justify-content-between my-5">
            <div class="col col-12 col-md-4">
                <input class="form-control" @change="getDocumentos" v-model="filterInput" style="border-radius: 200px" placeholder="Buscar documento...">
            </div>
            <div class="col col-12 col-md-4">
                <select v-model="tipoDocumentoFilter" @change="getDocumentos" class="form-control">
                    <option value="">Todos</option>
                    <option>PDF</option>
                    <option>WORD</option>
                    <option>EXCEL</option>
                    <!-- //DISPONIBLE EN UNA PRÓXIMA ACTUALIZACIÓN
                    <option>AUDIO</option>
                    <option>VIDEO</option>
                    -->
                    <option>IMAGEN</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div v-for="documento in documentos" class="col col-12 col-md-6 col-lg-4 p-1">
                <CardDocumento @editarDocumento="()=>{modalEditar(documento)}" @eliminarDocumento="()=>{abrirModalComentario(documento.id,'eliminar')}" :documento="documento" />
            </div>
        </div>
        <b-modal title="Editar Documento" v-model="isModalOpen" size="lg" hide-footer>
            <FormDocumento :documento="documentoEditar" @guardarDocumento="(documento)=>{abrirModalComentario(documento,'editar')}"></FormDocumento>
        </b-modal>
        <b-modal title="Agregar Comentario" v-model="comentario.modal" hide-footer>
            <textarea placeholder="Agrega un comentario sobre los cambios que relizaste" rows="6" v-model="comentario.text" class="form-control"></textarea>
            <div class="row justify-content-center my-3">
                <button class="btn btn-outline-primary" @click="dispatch" type="submit">Enviar</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import CardDocumento from "./CardDocumento";
    import DocumentoCasoService from "../../../services/DocumentoCasoService";
    import { EventBus } from "../../../EventBus";
    import FormDocumento from "./FormDocumento";
    export default {
        name: "DocumentosCaso",
        components: {FormDocumento, CardDocumento},
        props: ['casoId'],

        data() {
            return {
                caso_id:"",
                documentos:[],
                tipoDocumentoFilter:"",
                filterInput: "",
                isModalOpen: false,
                documentoEditar:{},
                comentario:{
                    modal:false,
                    text:"",
                    action:"",
                    data:null
                }
            }
        },

        methods: {
            async guardar(documento){
                try{
                    let data = new FormData();
                    data.set('nombre',documento.nombre);
                    data.set('tipo_documento',documento.tipo_documento);
                    data.set('descripcion',documento.descripcion);
                    data.set('caso_id',this.caso_id);
                    data.set('comentario',this.comentario.text);
                    data.append('archivo',documento.archivo);
                    await DocumentoCasoService.store(data);
                    let message = this.hasRole('administrador') ? 'El documento se agregó correctamente' :
                        'Tu solicitud de agregar este documento fue enviada al administrador';
                    this.$swal({
                        title: "Bien!!",
                        text: message,
                        icon: "success",
                    }).then(()=>{
                        this.getDocumentos()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async getDocumentos(){
                EventBus.$emit('loading')
                let resp = await DocumentoCasoService.all('caso',this.caso_id,this.tipoDocumentoFilter, this.filterInput);
                this.documentos = resp.data;
                EventBus.$emit('loading-close')
            },
            async eliminarDocumento(id){
                try {
                    await DocumentoCasoService.delete(id, {comentario: this.comentario.text})
                    let message = this.hasRole('administrador') ? 'El documento se eliminó correctamente' :
                        'Tu solicitud de eliminar este documento fue enviada al administrador';
                    this.$swal({
                        title: "Bien!!",
                        text: message,
                        icon: "success",
                    }).then(() => {
                        this.getDocumentos()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async actualizarDocumento(data){
                try{
                    let formdata = new FormData();
                    formdata.set('nombre',data.nombre);
                    formdata.set('tipo_documento',data.tipo_documento);
                    formdata.set('descripcion',data.descripcion);
                    formdata.set('comentario',this.comentario.text);
                    formdata.append('archivo',data.archivo);
                    formdata.append('_method','PUT');
                    await DocumentoCasoService.update(data.id,formdata);
                    this.isModalOpen = false;
                    let message = this.hasRole('administrador') ? 'El documento se actualizó correctamente' :
                        'Tu solicitud de actualizar este documento fue enviada al administrador';
                    this.$swal({
                        title: "Bien!!",
                        text: message,
                        icon: "success",
                    }).then(()=>{
                        this.getDocumentos()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            modalEditar(documento){
                this.documentoEditar = documento
                this.isModalOpen = true
            },
            abrirModalComentario(data,action){
                this.comentario.text = "";
                this.comentario.data = data;
                this.comentario.action = action;
                if(this.hasRole('casos')) {
                    this.comentario.modal = true;
                }else if(this.hasRole('administrador')){
                    this.dispatch()
                }
            },
            dispatch(){
                if(this.comentario.action === "crear"){
                    this.guardar(this.comentario.data)
                }else if(this.comentario.action === "editar"){
                    this.actualizarDocumento(this.comentario.data)
                }else if(this.comentario.action === "eliminar"){
                    this.eliminarDocumento(this.comentario.data)
                }
                this.comentario.modal = false;
                this.comentario.text = "";
            }
        },

        watch:{
            casoId(){
                this.caso_id = this.$props.casoId;
            }
        },

        mounted() {
            this.caso_id = this.$props.casoId;
            this.getDocumentos()
        }
    }
</script>
