<template>
    <div>
        <ValidationObserver ref="form">
            <form enctype="multipart/form-data">
                <div class="row">
                    <div class="col col-12 col-md-6 col-lg-4 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                            <label for="nombre">Nombre</label>
                            <input id="nombre" v-model="form.nombre" class="form-control">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-4 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="tipo">
                            <label for="tipo">Tipo</label>
                            <select id="tipo" @change="getFileType" v-model="form.tipo_documento" class="form-control">
                                <option value="">Seleccione...</option>
                                <option>PDF</option>
                                <option>WORD</option>
                                <option>EXCEL</option>
                                <!-- //DISPONIBLE EN UNA PRÓXIMA ACTUALIZACIÓN
                                <option>AUDIO</option>
                                <option>VIDEO</option>
                                -->
                                <option>IMAGEN</option>
                            </select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-lg-4 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="archivo">
                            <label>Archivo</label>
                            <b-form-file
                                style="height: 100%"
                                v-model="form.archivo"
                                placeholder="Selecciona archivo..."
                                :accept="filetype"
                            ></b-form-file>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="descripcion">
                            <label for="descripcion">Descripción</label>
                            <textarea id="descripcion" rows="6" v-model="form.descripcion" class="form-control"></textarea>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row justify-content-center my-3">
                    <button class="btn btn-primary" type="button" @click="guardar">Guardar</button>
                </div>
            </form>
        </ValidationObserver>
    </div>
</template>

<script>
    export default {
        name: "FormDocumento",

        props: {
            documento: {
                type: Object,
                required: false,
                default: null
            }
        },

        data() {
            return {
                form:{
                    nombre:"",
                    tipo_documento:"",
                    archivo:null,
                    descripcion:"",
                },
                filetype:"",
            }
        },

        methods: {
            guardar(){
                this.form.archivo = this.form.archivo === null ? "" : this.form.archivo;
                this.$emit('guardarDocumento',this.form);
                this.form = {
                    nombre:"",
                    tipo_documento:"",
                    archivo:null,
                    descripcion:"",
                };
                this.$refs.form.reset();
            },
            getFileType(){
                this.form.archivo = null;
                let exception;
                if(this.form.tipo_documento === "PDF"){
                    exception =  "application/pdf"
                }else if(this.form.tipo_documento === "WORD"){
                    exception =  "application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                }else if(this.form.tipo_documento === "EXCEL"){
                    exception =  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                }else if(this.form.tipo_documento === "AUDIO"){
                    exception =  "audio/*"
                }else if(this.form.tipo_documento === "VIDEO"){
                    exception =  "video/*"
                }else if(this.form.tipo_documento === "IMAGEN"){
                    exception =  "image/*"
                }else{
                    exception =  "*"
                }
                this.filetype = exception;
            },
        },
        watch:{
            documento(){
                if(this.$props.documento !== null){
                    this.form = this.$props.documento
                    this.form.archivo = null;
                }
            }
        },

        mounted() {
            if(this.$props.documento !== null) {
                this.form = this.$props.documento;
                this.form.archivo = null;
                this.getFileType()
            }
        }
    }
</script>
