<template>
    <div>
        <div class="wrapper">
            <Loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="true" color="#49AF73" loader="dots"></Loading>
            <!-- Sidebar  -->
            <Sidebar :sidebarActive="sidebarActive" @toggleSidebar="toggleSidebar" />

            <!-- Page Content  -->
            <div id="content" :class="!sidebarActive ? 'collapsed' : ''">
                <Navbar :sidebarActive="sidebarActive" @toggleSidebar="toggleSidebar"></Navbar>
                <div class="body" @click="esconderVentanaNavbar">
                    <transition name="slide-fade"
                                mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "./Navbar";
    import Sidebar from "./Sidebar";
    import {EventBus} from "../../EventBus";
    import TipoDocumentoService from "../../services/TipoDocumentoService";
    export default {
        name: "Layout",
        props: {

        },
        data() {
            return {
                sidebarActive: false,
                isLoading: false
            }
        },

        methods: {
            toggleSidebar(){
                this.sidebarActive = !this.sidebarActive;
            },
            esconderVentanaNavbar(){
                EventBus.$emit('esconder-ventana')
            }
        },
        components:{
            Navbar,
            Sidebar
        },
        mounted() {
            TipoDocumentoService.all()
            EventBus.$on('loading',()=>{this.isLoading = true;});
            EventBus.$on('loading-close',()=>{this.isLoading = false;})
        }
    }
</script>


<style>
    #content{
        margin-left: 70px;
        transition: all 0.3s;
    }
    #content.collapsed{
        margin-left: 250px;
    }

    .body{
        z-index: -5;
    }

    @media (max-width: 768px) {
        #content{
            margin-left: 0 !important;
        }
    }

    .slide-fade-enter-active {
        transition: all 1s ease;
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: scale(0.97);
        opacity: 0;
    }
    .fadeIn-enter-active {
        transition: all 1s ease;
    }

    .fadeIn-enter, .fadeIn-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    </style>
