<template>
    <div class="row align-items-center justify-content-center bg-gradient" style="min-height: 100vh; width: 100%">
       <div class="col col-12 col-md-8">
           <div class="bg-white p-3 rounded row shadow">
               <div class="col-12 col-sm-5">
                   <img src="/img/logo-grande.png" width="100%">
               </div>
               <div class="col-12 col-sm-7 d-flex align-items-center border-left px-2 px-md-5">
                   <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="handleSubmit" style="width: 100%">
                       <h1 class="h-primary mb-2">Ingresar</h1>
                       <p>Bienvenido de nuevo. Por favor ingresa tus datos.</p>
                       <small class="text-danger mb-2">{{error}}</small>
                       <div class="form-group">
                           <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                               <input v-model="email" class="form-control" placeholder="Email" type="email">
                               <small class="text-danger mb-2">{{errors[0]}}</small>
                           </ValidationProvider>
                       </div>
                       <div class="form-group">
                           <ValidationProvider rules="required" v-slot="{ errors }" name="contraseña">
                                <input v-model="password" class="form-control" placeholder="Contraseña" type="password">
                               <small class="text-danger">{{errors[0]}}</small>
                           </ValidationProvider>
                       </div>
                       <div class="row justify-content-end mt-5">
                           <button :disabled="invalid" class="btn btn-outline-primary" type="submit">Enviar</button>
                       </div>
                   </ValidationObserver>
               </div>
           </div>
       </div>
    </div>
</template>

<script>

    export default {
        name: "Login",

        props: {

        },

        data() {
            return {
                email:"",
                password:"",
                error:""
            }
        },

        methods: {
            handleSubmit() {
                axios.post('/login', {email: this.email, password: this.password})
                    .then(resp => {
                        localStorage.setItem('token', resp.data.access_token);
                        localStorage.setItem('user', JSON.stringify(resp.data.user));
                        window.location.reload();
                    })
                    .catch(error => {
                        this.error = error.response.data.error
                    })
            }
        },

        components:{

        },

        mounted() {

        }
    }
</script>
