<template>
    <div>
        <nav :class="!sidebarActive ? 'mynav collapsed' : 'mynav'">
            <a href="javascript:void(0)" @click="toggleSidebar" class="mynav__btn"><i class="fas fa-bars"></i></a>
            <div class="d-flex align-items-center text-center px-2">
                <h2>COMITÉ CÍVICO POR LOS DERECHOS HUMANOS DEL META</h2>
            </div>
            <div class="row">
                <a href="javascript:void(0)" @click="mostrarVentanaPerfil = !mostrarVentanaPerfil; mostrarVentanaNotificaciones = false"><img src="/img/default-user-image.png" class="mynav__user-img"></a>
                <a v-if="hasRole('administrador') || hasRole('casos')" href="#" @click="mostrarVentanaNotificaciones = !mostrarVentanaNotificaciones; mostrarVentanaPerfil = false" class="d-inline-flex align-items-center"><i class="far fa-bell mynav__notificacion-icon ml-3"></i><span class="mynav__notificacion-punto" v-if="usuarioTieneNotificaciones"></span></a>
            </div>
            <transition name="slide-left"
                        mode="out-in">
                <div class="ventanita-perfil p-3 rounded shadow" v-show="mostrarVentanaPerfil">
                    <a href="javascript:void(0)" @click="perfil()"><i class="fas fa-user"></i> Mi Perfil</a>
                    <hr>
                    <a class="text-danger" href="javascript:void(0)" @click="logout"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                </div>
            </transition>
            <transition name="slide-left"
                        mode="out-in">
                <div class="ventanita-notificaciones p-3 rounded shadow" v-show="mostrarVentanaNotificaciones && notificaciones.length > 0">
                    <NotificacionesCard @verNotificacion="(data)=>{verNotificacion(data)}" :notifications="notificaciones" />
                </div>
            </transition>
            <!--
            <div class="mynav__fondo d-none d-md-flex">
                <div><img src="/img/navbar2.png" width="250px"></div>
                <div><img src="/img/navbar1.png" width="250px"></div>
            </div>
            -->
        </nav>
    </div>
</template>

<script>
    import {EventBus} from "../../EventBus";
    import NotificacionesCard from "../../components/NoficacionesCard";
    import NotificacionService from "../../services/NotificacionService";

    export default {
        name: "Navbar",
        components: {NotificacionesCard},
        props:['sidebarActive'],

        data() {
            return {
                mostrarVentanaPerfil: false,
                mostrarVentanaNotificaciones: false,
                notificaciones:[],
                user: null
            }
        },

        methods: {
            toggleSidebar(){
                this.$emit('toggleSidebar')
            },
            async logout(){
                let swalResp = await this.$swal({
                    title:'¿Estás seguro?',
                    icon:'warning',
                    text:'¿Deseas cerrar sesión?',
                    buttons:['No, cancelar', 'Si, aceptar']
                });
                if(swalResp){
                    axios.post('logout').then(()=>{
                        localStorage.clear();
                        window.location.reload();
                    })
                }
            },
            perfil(){
                this.$router.push({path: '/perfil'})
                this.mostrarVentanaPerfil = false;
                this.mostrarVentanaNotificaciones = false;
            },
            async getNotificaciones(){
                let resp;
                if(this.user.role === 'administrador') {
                    resp = await NotificacionService.all('?id=');
                }else{
                    resp = await NotificacionService.all('?id=' + this.user.id);
                }
                this.notificaciones = resp.data;
            },
            async verNotificacion(notificacion){
                this.mostrarVentanaNotificaciones = false;
                await NotificacionService.update(notificacion.id,'si');
                this.getNotificaciones();
                this.$router.push({path: '/auditoria/'+notificacion.version_caso_id})
                /*
                if(this.user.role === 'administrador'){
                    this.$router.push({path: '/auditoria'})
                }else{
                    this.$router.push({path: '/casos/'+notificacion.caso_id})
                }*/
            }
        },

        mounted() {
            this.user = JSON.parse(localStorage.getItem('user'));
            if(this.hasRole('administrador') || this.hasRole('casos')) {
                this.getNotificaciones();
            }
            EventBus.$on('esconder-ventana',()=>{this.mostrarVentanaPerfil = false; this.mostrarVentanaNotificaciones = false;})
        },

        computed:{
            usuarioTieneNotificaciones(){
                if(this.notificaciones.length > 0){
                    for(let i = 0; i<this.notificaciones.length; i++){
                        if(this.notificaciones[i].visto === 'no'){
                            return true;
                        }
                    }
                    return false;
                }else{
                    return false;
                }
            }
        }
    }
</script>

<style scoped>
    .ventanita-perfil{
        position: absolute;
        background: white;
        top: 70px;
        right: 60px;
    }
    .ventanita-notificaciones{
        position: absolute;
        background: white;
        top: 70px;
        right: 30px;
        max-width: 350px;
        width: 100%;
        overflow-y: scroll;
        max-height: 300px;
    }

    .slide-left-enter-active {
        transition: all .2s ease-in;
    }

    .slide-left-enter, .slide-left-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: rotateY(120deg);
        opacity: 0;
    }
</style>
