<template>
    <div>
        <nav id="sidebar" :class="sidebarActive ? 'active' : ''">
            <div class="row justify-content-end d-md-none">
                <a href="javascript:void(0)" @click="toggleSidebar">&times;</a>
            </div>
            <div class="p-2 p-md-1 d-flex justify-content-center">
                <img class="sidebar__logo-lg" src="/img/logo-grande.png" width="100%">
                <img class="sidebar__logo-sm" src="/img/logo-pequeño.png" width="100%">
            </div>
            <hr>
            <div>
                <div class="sidebar-item active">
                    <router-link :to="{name:'casos.index'}" exact-active-class="active">
                        <i class="fas fa-tasks"></i><span> Casos</span>
                    </router-link>
                </div>
                <div class="sidebar-item">
                    <router-link :to="{name:'reportes'}" v-if="hasRole('administrador') || hasRole('casos')" exact-active-class="active">
                        <i class="fas fa-file"></i><span> Reportes</span>
                    </router-link>
                </div>
                <div class="sidebar-item" v-if="hasRole('administrador')">
                    <router-link :to="{name:'usuarios.index'}" exact-active-class="active">
                        <i class="fas fa-user-cog"></i><span> Usuarios</span>
                    </router-link>
                </div>
                <div class="sidebar-item" v-if="hasRole('administrador') || hasRole('casos')">
                    <router-link :to="{name:'auditoria'}" exact-active-class="active">
                        <i class="fas fa-check-circle"></i><span> Auditoria</span>
                    </router-link>
                </div>
                <div class="sidebar-item" v-if="hasRole('administrador')">
                    <router-link :to="{name:'personas.index'}" exact-active-class="active">
                        <i class="fas fa-users"></i><span> Personas</span>
                    </router-link>
                </div>
                <div class="sidebar-item" v-if="hasRole('administrador')">
                    <router-link :to="{name:'generales.index'}" exact-active-class="active">
                        <i class="fas fa-cog"></i><span> General</span>
                    </router-link>
                </div>
                <div class="sidebar-item" v-if="hasRole('administrador')">
                    <router-link :to="{name:'backups'}" exact-active-class="active">
                        <i class="fas fa-file-archive"></i><span> Backups</span>
                    </router-link>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "Sidebar",

        props: ['sidebarActive'],

        data() {
            return {

            }
        },

        methods: {
            toggleSidebar(){
                this.$emit('toggleSidebar')
            }
        },

        mounted() {

        }
    }
</script>
