<template>
    <div class="bg-light-gray my-container">
        <Loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="true" color="#49AF73" loader="dots"></Loading>
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Personas &nbsp;</h1>
            </div>
            <div class="row justify-content-between mb-3">
                <div class="col col-12 col-md-4 col-lg-auto px-0 mb-2">
                    <input @change="getPersonas" v-model="inputBusqueda" class="form-control" placeholder="Buscar Persona">
                </div>
                <div class="col col-12 col-md-auto px-0 mb-2">
                    <button class="btn btn-primary"
                            @click="crear">+ Agregar Persona</button>
                </div>
            </div>
            <!-- Modal -->
            <b-modal :title="actionModal + ' Persona'" v-model="isModalOpen" size="lg" hide-footer>
                <PersonasForm :persona="personaEditar" @guardarPersona="(data)=>{enviarForm(data)}" />
            </b-modal>
            <!-- Tabla -->
            <PersonasTable @editarPersona="(persona)=>{editarPersona(persona)}"
                           @eliminarPersona="(id)=>{eliminarPersona(id)}"
                           :personas="personas"/>
            <div class="row justify-content-center">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
                    align="center"
                    @change="getPersonas"
                ></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import PersonasTable from "./PersonasTable";
    import PersonaService from "../../services/PersonaService";
    import PersonasForm from "./PersonasForm";
    export default {
        name: "PersonasIndex",
        components: {PersonasForm, PersonasTable},
        props: [],

        data() {
            return {
                inputBusqueda: "",
                isModalOpen: false,
                personas:[],
                isLoading: false,
                page:1,
                currentPage: 1,
                rows: 1,
                perPage: 10,
                personaEditar: null,
                actionModal:"Crear"
            }
        },

        methods: {
            async getPersonas(event){
                if(event){
                    this.page = event;
                }
                this.isLoading = true;
                let inputBusqueda = this.inputBusqueda !== '' ? '&termino='+this.inputBusqueda : '';
                let response =  await PersonaService.all('?page='+this.page+inputBusqueda+'&per_page='+this.perPage);
                this.isLoading = false;
                this.personas = response.data.data
                this.currentPage = response.data.current_page;
                this.rows = response.data.total;

            },
            editarPersona(persona){
                this.actionModal = "Editar";
                this.personaEditar = persona;
                this.isModalOpen = true;
            },
            async eliminarPersona(id){
                try{
                    await PersonaService.delete(id)
                    this.$swal({
                        title: "Bien!!",
                        text: 'La persona se eliminó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getPersonas()
                    })
                }catch (error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }

            },
            crear(){
                this.actionModal = "Crear";
                this.personaEditar = null;
                this.isModalOpen = true;
            },
            enviarForm(data){
                if(this.actionModal === 'Crear'){
                    this.guardarPersona(data)
                }else{
                    this.actualizarPersona(data)
                }
            },
            async guardarPersona(data){
                try{
                    await PersonaService.store(data);
                    this.isModalOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'La persona se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getPersonas()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async actualizarPersona(data){
                try{
                    await PersonaService.update(data.id,data);
                    this.isModalOpen = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'La persona se actualizó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getPersonas()
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
        },

        mounted() {
            this.getPersonas()
        }
    }
</script>
