<template>
    <div>
        <Loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="true" color="#49AF73" loader="dots"></Loading>
        <transition name="fadeIn"
                    mode="out-in">
            <ValidationObserver v-if="!generarDireccion" ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="guardarPersona()">
                <h6 class="text-center">Datos Personales</h6>
                <div class="row">
                    <div class="col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="nombres">
                            <label for="nombre">Nombres</label>
                            <input id="nombre" v-model="form.nombres" class="form-control">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="apellidos">
                            <label for="apellido">Apellidos</label>
                            <input id="apellido" v-model="form.apellido" class="form-control">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col-6 col-md-3 px-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="edad">
                            <label for="edad">Edad</label>
                            <input id="edad" v-model="edad" class="form-control" disabled>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col-6 px-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="género">
                            <label for="genero">Género</label>
                            <select id="genero" v-model="form.genero" class="form-control">
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>
                            </select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col-6 col-md-2 px-1 d-flex align-items-end">
                        <b-form-checkbox
                            id="lgtbi"
                            v-model="form.lgtbi"
                            name="lgtbi"
                            value="1"
                            unchecked-value="0"
                        >
                           LGTBI
                        </b-form-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-2 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de documento">
                            <label for="tipo_documento">Tipo de documento</label>
                            <v-select :options="tiposDeDocumentos" id="tipo_documento" v-model="select.tipoDocumento"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-5 px-1">
                        <ValidationProvider rules="required|numeric|min:3|max:11" v-slot="{ errors }" name="número de documento">
                            <label for="n_documento">Número de documento</label>
                            <input id="n_documento" v-model="form.n_documento" class="form-control">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-5 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="estado civil">
                            <label for="estado_civil">Estado civil</label>
                            <v-select :options="estadosCiviles" id="estado_civil" v-model="select.estadoCivil"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-4 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="grado de escolaridad">
                            <label for="grado_escolaridad">Grado de escolaridad</label>
                            <v-select :options="gradosDeEscolaridad" id="grado_escolaridad" v-model="select.gradoEscolaridad"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-4 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="grupo étnico">
                            <label for="grupo_etnico">Grupo étnico</label>
                            <v-select :options="gruposEtnicos" id="grupo_etnico" v-model="select.grupoEtnico"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-4 px-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="grupo indígena">
                            <label for="grupo_indigena">Grupo Indígena</label>
                            <v-select :options="gruposIndigenas" id="grupo_indigena" v-model="select.grupoIndigena" :disabled="select.grupoEtnico.code !== 1"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="ocupación">
                            <label for="ocupacion">Ocupación</label>
                            <input id="ocupacion" v-model="form.ocupacion" class="form-control">
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="fecha de nacimiento">
                            <label>Fecha de nacimiento</label>
                            <datepicker :disabled-dates="{from: new Date()}"
                                format="dd/MM/yyyy" v-model="form.fecha_nacimiento" required></datepicker>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <hr>
                <h6 class="text-center">Información de Residencia</h6>
                <div class="row">
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="departamento">
                            <label for="departamento">Departamento</label>
                            <v-select :options="departamentos" id="departamento" v-model="select.departamento" @input="getMunicipios"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-6 px-1">
                        <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                            <label for="municipio">Municipio</label>
                            <v-select :options="municipios" id="municipio" v-model="select.municipio"></v-select>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-8 col-lg-9 px-1">
                        <ValidationProvider rules="" v-slot="{ errors }" name="dirección">
                            <label for="direccion">Dirección</label>
                            <input id="direccion" v-model="form.direccion" class="form-control" disabled>
                            <small class="text-danger">{{errors[0]}}</small>
                        </ValidationProvider>
                    </div>
                    <div class="col col-12 col-md-4 col-lg-3 d-flex align-items-end px-1">
                        <button type="button" class="btn btn-outline-primary border-squared btn-block" @click="generarDireccion = true">Generar</button>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="btn btn-primary" :disabled="invalid" type="submit">Guardar</button>
                </div>
            </ValidationObserver>
            <DireccionForm @direccionGenerada="(data) => {direccionGenerada(data)}" v-if="generarDireccion" />
        </transition>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import TipoDocumentoService from "../../services/TipoDocumentoService";
    import EstadoCivilService from "../../services/EstadoCivilService";
    import GradoEscolaridadService from "../../services/GradoEscolaridadService";
    import GrupoEtnicoService from "../../services/GrupoEtnicoService";
    import GrupoIndigenaService from "../../services/GrupoIndigenaService";
    import DepartamentoService from "../../services/DepartamentoService";
    import MunicipioService from "../../services/MunicipioService";
    import Datepicker from "vuejs-datepicker";
    import DireccionForm from "../../components/DireccionForm";
    import moment from 'moment';
    import {EventBus} from "../../EventBus";

    export default {
        name: "PersonasForm",

        props: {
            persona:{
                type: Object,
                required: false,
                default: null
            },
        },

        watch: {

        },

        data() {
            return {
                form:{
                    nombres:"",
                    apellido:"",
                    tipo_documento_id:"",
                    n_documento:"",
                    fecha_nacimiento: "",
                    estado_civil_id: "",
                    grado_escolaridad_id: "",
                    genero: "",
                    municipio_codigo: "",
                    departamento_codigo: "",
                    grupo_etnico_id: "",
                    grupo_indigena_id: "",
                    ocupacion: "",
                    direccion: "",
                    lgtbi: 0
                },
                parametricas:{
                    tiposDocumentos:[],
                    estadosCiviles:[],
                    gradosEscolaridad:[],
                    gruposEtnicos:[],
                    gruposIndigenas:[],
                    departamentos:[],
                    municipios:[],
                },
                select:{
                    tipoDocumento:"",
                    gradoEscolaridad:"",
                    estadoCivil:"",
                    grupoEtnico:"",
                    grupoIndigena:"",
                    departamento:"",
                    municipio:""
                },
                generarDireccion: false,
                isLoading: true
            }
        },

        methods: {
            guardarPersona(){
                this.form.tipo_documento_id = this.select.tipoDocumento.code;
                this.form.grado_escolaridad_id = this.select.gradoEscolaridad.code;
                this.form.estado_civil_id = this.select.estadoCivil.code;
                this.form.grupo_etnico_id = this.select.grupoEtnico.code;
                this.form.grupo_indigena_id= this.select.grupoIndigena.code;
                this.form.departamento_codigo = this.select.departamento.code.toString();
                this.form.municipio_codigo = this.select.municipio.code.toString();
                this.form.fecha_nacimiento = moment(this.form.fecha_nacimiento).format('YYYY-MM-DD')
                this.$emit('guardarPersona',this.form)
            },
            async getParametricas(pintarPersona = false){
                try {
                    this.parametricas.tiposDocumentos = (await TipoDocumentoService.all()).data
                    this.parametricas.estadosCiviles = (await EstadoCivilService.all()).data
                    this.parametricas.gradosEscolaridad = (await GradoEscolaridadService.all()).data
                    this.parametricas.gruposEtnicos = (await GrupoEtnicoService.all()).data
                    this.parametricas.gruposIndigenas = (await GrupoIndigenaService.all()).data
                    this.parametricas.departamentos = (await DepartamentoService.all()).data
                    if(pintarPersona){
                        this.pintarDatosPersona()
                    }
                    this.isLoading = false;
                }catch (e) {

                }
            },
            async getMunicipios(){
                this.isLoading = true;
                try {
                    if(this.select.departamento !== null && this.select.departamento !== '') {
                        this.select.municipio = null;
                        this.parametricas.municipios = (await MunicipioService.all(this.select.departamento.code)).data
                        this.isLoading = false;
                    }else{
                        this.select.municipio = null;
                        this.isLoading = false;
                        this.parametricas.municipios = [];
                    }
                }catch (e) {
                    this.isLoading = false;
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            direccionGenerada(direccion){
                this.form.direccion = direccion;
                this.generarDireccion = false;
            },
            pintarDatosPersona(){
                this.form = this.$props.persona.item;
                this.select.tipoDocumento = this.tiposDeDocumentos.find(item => {
                    return Number(item.code) === Number(this.form.tipo_documento_id)
                });
                this.select.gradoEscolaridad = this.gradosDeEscolaridad.find(item => {
                    return Number(item.code) === Number(this.form.grado_escolaridad_id)
                });
                this.select.grupoIndigena = this.gruposIndigenas.find(item => {
                    return Number(item.code) === Number(this.form.grupo_indigena_id)
                });
                this.select.grupoEtnico = this.gruposEtnicos.find(item => {
                    return Number(item.code) === Number(this.form.grupo_etnico_id)
                });
                this.select.estadoCivil = this.estadosCiviles.find(item => {
                    return Number(item.code) === Number(this.form.estado_civil_id)
                });
                this.select.departamento = this.departamentos.find(item => {
                    return Number(item.code) === Number(this.form.departamento_codigo)
                });
                MunicipioService.all(this.form.departamento_codigo).then((resp)=>{
                    this.parametricas.municipios = resp.data;
                    this.select.municipio = this.municipios.find(item => {
                        return Number(item.code) === Number(this.form.municipio_codigo)
                    });
                });
            },
        },

        mounted() {
            if(this.$props.persona !== null){
                this.getParametricas(true)
            }else{
                this.getParametricas()
            }
        },
        computed: {
            edad(){
                let nacimiento = moment(this.form.fecha_nacimiento);
                if(nacimiento._isValid) {
                    let now = moment();
                    if(nacimiento.format('MM') < now.format('MM')){
                        return now.format('Y') - nacimiento.format('Y')
                    }else{
                        if((nacimiento.format('MM') === now.format('MM')) &&
                            (nacimiento.format('DD') <= now.format('DD'))){
                            return now.format('Y') - nacimiento.format('Y')
                        }else{
                            return now.format('Y') - nacimiento.format('Y') - 1
                        }
                    }
                }else{
                    return "";
                }
            },
            tiposDeDocumentos(){
                let arr = [];
                this.parametricas.tiposDocumentos.forEach(tipo => {
                    arr.push({label: tipo.sigla, code: tipo.id})
                });
                return arr
            },
            estadosCiviles(){
                let arr = [];
                this.parametricas.estadosCiviles.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            gradosDeEscolaridad(){
                let arr = [];
                this.parametricas.gradosEscolaridad.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            gruposEtnicos(){
                let arr = [];
                this.parametricas.gruposEtnicos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            gruposIndigenas(){
                let arr = [];
                //arr.push({label: "No aplica", code: null});
                this.parametricas.gruposIndigenas.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            departamentos(){
                let arr = [];
                this.parametricas.departamentos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipios(){
                let arr = [];
                this.parametricas.municipios.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },

            /*
            ...mapGetters([
              'tiposDeDocumentos'
            ])*/
        },
        components:{
            DireccionForm,
            Datepicker
        }
    }
</script>
<style scoped>
    .custom-control-label::before {
        top: -4px !important;
        width: 30px !important;
        height: 30px !important;
        left: -35px !important;
    }

    .custom-control-label::after {
        top: -4px !important;
        width: 30px !important;
        height: 30px !important;
        left: -35px !important;
    }

    .custom-control-label{
        font-size: 18px;
        margin-left: 10px;
    }
</style>
