<template>
    <div>
        <div class="bg-white rounded p-3 table-responsive">
            <!--
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Dirección</th>
                    <th>Casos</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="persona in personas">
                    <td>{{persona.nombres}}</td>
                    <td>{{persona.tipo_documento.sigla+' '+persona.n_documento}}</td>
                    <td>{{persona.direccion+', '+persona.municipio.descripcion
                        +', '+persona.departamento.descripcion}}</td>
                    <td>s</td>
                    <td>
                        <a class="my-link" href="javascript:void(0)" @click="editar(persona)"><i class="fas fa-edit"></i></a>
                        <a class="my-link" href="javascript:void(0)" @click="eliminar(persona.id)"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            -->
            <b-table :items="personas" :fields="fields">
                <template v-slot:cell(acciones)="persona" :sortable="true">
                    <a class="my-link" v-b-tooltip.hover title="Editar" href="javascript:void(0)" @click="editar(persona)"><i class="fas fa-edit"></i></a>
                    <a class="my-link" v-b-tooltip.hover title="Eliminar" href="javascript:void(0)" @click="eliminar(persona.item.id)"><i class="fas fa-trash"></i></a>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PersonasTable",

        props: {
            personas: {
                type: Array,
                required: true,
            }
        },

        data() {
            return {
                fields:[
                    {
                        key:'nombres',
                        label:'Nombres',
                        sortable:true
                    },
                    {
                        key:'apellido',
                        label:'Apellidos',
                        sortable:true
                    },
                    {
                        key:'direccion',
                        label:'Dirección',
                        sortable:true
                    },
                    {
                        key:'n_documento',
                        label:'Documento',
                        sortable:true
                    },
                    'acciones'
                ]
            }
        },

        watch:{

        },

        methods: {
            editar(persona){
                this.$emit('editarPersona',persona)
            },
            async eliminar(id){
                let swalResp = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar esta persona?',
                    icon: "warning",
                    buttons:["No, cancelar!", "Si, eliminar"]
                });
                if(swalResp) {
                    this.$emit('eliminarPersona',id)
                }
            }
        },

        mounted() {

        }
    }
</script>
