.mynav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 70px;
    right: 0;
    background: white;
    box-shadow: $box-shadow-sm;
    transition: all 0.3s;
    z-index: 10;
    perspective: 400px;

    &__fondo{
        position: absolute;
        z-index: -1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 0;
        left: 0;
        opacity: .8;
        height: 100%;
    }

    &__btn{
        color: black;
        font-size: 25px;
        transition: all .3s;
        &:hover{
            color: black;
            transform: scale(1.02);
        }
        &:focus{
            color: black;
            transform: scale(1.02);
        }
    }

    &__user-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__notificacion-icon{
        font-size: 27px;
        color: black;
    }

    &__notificacion-punto{
        width: 8px;
        height: 8px;
        position: relative;
        top: -15px;
        right: 7px;
        background: $yellow;
        border-radius: 50%;
        display: inline-block;
        &::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            animation: scale-animation .3s infinite alternate;
            background: rgba($yellow,.6);
        }
    }

    &.collapsed{
        left: 250px;
    }

    h2{
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .mynav{
        left: 0 !important;
    }
}


@keyframes scale-animation {
    from{
        transform: scale(1);
    }to{
    transform: scale(1.5);
         }
}
