#sidebar {
    width: 250px;
    background: white;
    transition: all 0.3s;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    box-shadow: $box-shadow;
    z-index: 20;
    overflow-x: hidden;
    .sidebar__logo-sm{
        display: none;
    }

    //esta linea me da errorsitos
    .sidebar-item{
        min-width: 200px;
        text-align: left;
    }

    //sidebar active
    &.active {
        width: 70px;
        text-align: center;
        padding: 5px;
        .sidebar__logo-lg{
            display: none;
        }
        .sidebar__logo-sm{
            display: block;
        }
        .sidebar-item{
            span{
                display: none;
            }
            &:hover{
                position: fixed;
                width: 200px;
                background-color: $extra-light-green;
                text-align: left;
                cursor: pointer;
                +.sidebar-item{
                    padding-top: 50px;
                }
                span{
                    display: inline-block;
                }
            }
        }
    }

    .sidebar-item{
        color: $light-gray;
        font-size: 18px;
        a{
            padding: 5px 15px;
            width: 100%;
            display: block;
        }
        i {
            font-size: 18px;
            min-width: 30px;
            text-align: center;
        }
        &:hover{
            color: $dark-green;
        }
        .active{
            background-color: $extra-light-green;
            color: $dark-green;
        }
    }
}

@media (max-width: 768px) {
    #sidebar{
        width: 100vw !important;
        left: -150%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 15px;
        &.active{
            left: 0;
        }

        .sidebar__logo-sm{
            display: none !important;
        }
        .sidebar__logo-lg{
            display: block !important;
            max-width: 150px !important;
        }

        .sidebar-item span{
            display: inline-block !important;
        }
    }
}

