<template>
    <div class="bg-light-gray my-container">
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Auditoría &nbsp;</h1>
            </div>
            <div class="row justify-content-between mb-3">
                <div class="col col-12 col-md-4 col-lg-auto px-0 mb-2">
                    <input class="form-control" @change="getVersiones" placeholder="Radicado del caso" v-model="inputRadicado" type="text">
                </div>
                <div class="col col-12 col-md-4 col-lg-auto px-0 mb-2">
                    <select @change="getVersiones" v-model="filtroSelect" class="form-control">
                        <option value="">Todas</option>
                        <option value="pendiente">Pendientes</option>
                        <option value="cancelado">Canceladas</option>
                        <option value="aprobado">Aprobadas</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="bg-white rounded p-3 mb-3" v-if="versiones.length > 0">
            <AcordionAuditoria @aceptarVersion="(id)=>{cambiarEstado(id, 'aprobado')}"
                               @rechazarVersion="(id)=>{cambiarEstado(id, 'cancelado')}"
                               :versiones="versiones" />
        </div>
        <div class="row justify-content-center" v-if="versiones.length > 0">
            <b-pagination
                v-model="currentPage"
                :total-rows="rows"
                :per-page="perPage"
                align="center"
                @change="getVersiones"
            ></b-pagination>
        </div>
    </div>
</template>

<script>
    import AcordionAuditoria from "./AcordionAuditoria";
    import {EventBus} from "../../EventBus";
    import VersionCasoService from "../../services/VersionCasoService";
    export default {
        name: "Auditoria",
        components: {AcordionAuditoria},
        props: [],

        data() {
            return {
                filtroSelect:"",
                inputRadicado:"",
                versiones: [],
                page:1,
                currentPage: 1,
                rows: 1,
                perPage: 10,
            }
        },

        methods: {
            async getVersiones(event){
                EventBus.$emit('loading');
                if(event){
                    this.page = event;
                }
                let user = JSON.parse(localStorage.getItem('user'));
                let resp;
                if(user.role === 'administrador') {
                    resp = await VersionCasoService.all('?estado=' + this.filtroSelect + '&radicado=' + this.inputRadicado + '&page=' + this.page);
                }else{
                    resp = await VersionCasoService.allAuth('?estado=' + this.filtroSelect + '&radicado=' + this.inputRadicado + '&page=' + this.page);
                }

                this.versiones = resp.data.data;
                this.currentPage = resp.data.current_page;
                this.rows = resp.data.total;
                EventBus.$emit('loading-close')
            },
            async cambiarEstado(id, estado){
                try{
                    await VersionCasoService.update(id, estado)
                    this.getVersiones()
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            }
        },

        mounted() {
            this.getVersiones()
        }
    }
</script>
