<template>
    <div class="bg-light-gray my-container">
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h3 class="h-3 bg-light-gray mb-0 align-self-center">{{version.user.name}} | <strong>{{getNombreVersion(version)}}</strong></h3>
            </div>
        </div>
        <div v-if="version !== null" class="bg-white rounded p-3 mb-3">
            <b-card no-body>
                <b-card-header v-b-toggle="'accordion'+version.id" header-tag="header" :class="('px-3 py-2 toggable ')+(version.estado === 'pendiente' ? 'bg-white' : version.estado === 'aprobado' ? 'bg-success-light py-custom' : 'bg-danger-light py-custom')" role="tab">
                    <div class="d-flex justify-content-between">
                        <div>{{(version.fecha.split(" "))[0]}}</div>
                        <div>
                            <a v-if="version.estado === 'pendiente' && hasRole('administrador')" href="javascript:void(0)" class="link-outline--success" @click="aceptarVersion(version.id)"><i class="fas fa-check"></i></a>
                            <a v-if="version.estado === 'pendiente' && hasRole('administrador')" href="javascript:void(0)" class="link-outline--danger" @click="rechazarVersion(version.id)"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                </b-card-header>
                <b-card-body class="p-0">
                    <div class="px-4 pt-2">
                        <!--
                        <h4 class="h-4">Radicado n° {{version.numero_radicado}}</h4>
                        -->
                        <h4 v-if="version.comentario !== null && version.comentario !== ''" class="h-4">Comentario</h4>
                        <p class="text-justify mb-0">{{version.comentario}}</p>
                    </div>
                    <!-- CUANDO ES UNA OBSERVACIÓN -->
                    <div v-if="version.nombre_tabla === 'observacion_casos'">
                        <div v-if="version.accion === 'update'" class="row py-4">
                            <div class="col px-4 border-right">
                                <h4 class="h-4">Sin modificar</h4>
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_antes.descripcion" rows="6" readonly></textarea>
                                </div>
                            </div>
                            <div class="col px-4 border-right">
                                <h4 class="h-4">Modificado</h4>
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_despues.descripcion" rows="6" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div v-if="version.accion === 'create'" class="row py-4">
                            <div class="col px-4">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_despues.descripcion" rows="6" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div v-if="version.accion === 'delete'" class="row py-4">
                            <div class="col px-4">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_antes.descripcion" rows="6" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CUANDO ES UN Documento -->
                    <div v-if="version.nombre_tabla === 'documento_casos'">
                        <div v-if="version.accion === 'update'" class="row py-4">
                            <div class="col px-4 border-right">
                                <h4 class="h-4">Sin modificar</h4>
                                <div class="form-group" v-if="'nombre' in version.valor_antes">
                                    <label>Nombre</label>
                                    <input class="form-control" :value="version.valor_antes.nombre" readonly>
                                </div>
                                <div class="form-group" v-if="'tipo_documento' in version.valor_antes">
                                    <label>Tipo de documento</label>
                                    <input class="form-control" :value="version.valor_antes.tipo_documento" readonly>
                                </div>
                                <div class="form-group" v-if="'descripcion' in version.valor_antes">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_antes.descripcion" rows="6" readonly></textarea>
                                </div>
                            </div>
                            <div class="col px-4 border-right">
                                <h4 class="h-4">Modificado</h4>
                                <div class="form-group" v-if="'nombre' in version.valor_despues">
                                    <label>Nombre</label>
                                    <input class="form-control" :value="version.valor_despues.nombre" readonly>
                                </div>
                                <div class="form-group" v-if="'tipo_documento' in version.valor_despues">
                                    <label>Tipo de documento</label>
                                    <input class="form-control" :value="version.valor_despues.tipo_documento" readonly>
                                </div>
                                <div class="form-group" v-if="'descripcion' in version.valor_despues">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_despues.descripcion" rows="6" readonly></textarea>
                                </div>
                                <a v-if="('archivo' in version.valor_despues)" :href="version.valor_despues.archivo" class="btn btn-outline-primary btn-block mt-3" download>Descargar archivo</a>
                            </div>
                        </div>
                        <div v-if="version.accion === 'create'" class="row py-4">
                            <div class="col px-4">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input class="form-control" :value="version.valor_despues.nombre" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Tipo de documento</label>
                                    <input class="form-control" :value="version.valor_despues.tipo_documento" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_despues.descripcion" rows="6" readonly></textarea>
                                </div>
                                <a :href="version.valor_despues.archivo" class="btn btn-outline-primary btn-block mt-3" download>Descargar archivo</a>
                            </div>
                        </div>
                        <div v-if="version.accion === 'delete'" class="row py-4">
                            <div class="col px-4">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input class="form-control" :value="version.valor_antes.nombre" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Tipo de documento</label>
                                    <input class="form-control" :value="version.valor_antes.tipo_documento" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea class="form-control" :value="version.valor_antes.descripcion" rows="6" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CUANDO ES UNA FECHA -->
                    <div v-if="version.nombre_tabla === 'fecha_casos'">
                        <div v-if="version.accion === 'update'" class="row py-4">
                            <div class="col px-4 border-right">
                                <h4 class="h-4">Sin modificar</h4>
                                <div class="form-group" v-if="'tipo_fecha' in version.valor_antes">
                                    <label>Tipo de fecha</label>
                                    <input class="form-control" :value="version.valor_antes.tipo_fecha" readonly>
                                </div>
                                <div class="form-group" v-if="'fecha_inicio' in version.valor_antes">
                                    <label>Fecha de inicio</label>
                                    <input class="form-control" :value="version.valor_antes.fecha_inicio" readonly>
                                </div>
                                <div class="form-group" v-if="'fecha_final' in version.valor_antes">
                                    <label>Fecha de fin</label>
                                    <input class="form-control" :value="version.valor_antes.fecha_final" readonly>
                                </div>
                            </div>
                            <div class="col px-4 border-right">
                                <h4 class="h-4">Modificado</h4>
                                <div class="form-group" v-if="'tipo_fecha' in version.valor_despues">
                                    <label>Tipo de fecha</label>
                                    <input class="form-control" :value="version.valor_despues.tipo_fecha" readonly>
                                </div>
                                <div class="form-group" v-if="'fecha_inicio' in version.valor_despues">
                                    <label>Fecha de inicio</label>
                                    <input class="form-control" :value="version.valor_despues.fecha_inicio" readonly>
                                </div>
                                <div class="form-group" v-if="'fecha_final' in version.valor_despues">
                                    <label>Fecha de fin</label>
                                    <input class="form-control" :value="version.valor_despues.fecha_final" readonly>
                                </div>
                            </div>
                        </div>
                        <div v-if="version.accion === 'create'" class="row py-4">
                            <div class="col px-4">
                                <div class="form-group">
                                    <label>Tipo de fecha</label>
                                    <input class="form-control" :value="version.valor_despues.tipo_fecha" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Fecha de inicio</label>
                                    <input class="form-control" :value="version.valor_despues.fecha_inicio" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Fecha de fin</label>
                                    <input class="form-control" :value="version.valor_despues.fecha_final" readonly>
                                </div>
                            </div>
                        </div>
                        <div v-if="version.accion === 'delete'" class="row py-4">
                            <div class="col px-4">
                                <div class="form-group">
                                    <label>Tipo de fecha</label>
                                    <input class="form-control" :value="version.valor_antes.tipo_fecha" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Fecha de inicio</label>
                                    <input class="form-control" :value="version.valor_antes.fecha_inicio" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Fecha de fin</label>
                                    <input class="form-control" :value="version.valor_antes.fecha_final" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CUANDO ES UN CASO -->
                    <div v-if="version.nombre_tabla === 'casos'" class="row py-4">
                        <div class="col px-4 border-right">
                            <h4 class="h-4">Sin modificar</h4>
                            <div class="form-group" v-if="'radicado' in version.valor_antes">
                                <label>Radicado</label>
                                <input class="form-control" :value="version.valor_antes.radicado" readonly>
                            </div>
                            <div class="form-group" v-if="'victima_id' in version.valor_antes">
                                <label>Víctima</label>
                                <input class="form-control" :value="version.valor_antes.victima_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'denunciante_id' in version.valor_antes">
                                <label>Denunciante</label>
                                <input class="form-control" :value="version.valor_antes.denunciante_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'comunidad_id' in version.valor_antes">
                                <label>Comunidad</label>
                                <input class="form-control" :value="version.valor_antes.comunidad_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'organizacion_victima_id' in version.valor_antes">
                                <label>Liderazgo de la víctima</label>
                                <input class="form-control" :value="version.valor_antes.organizacion_victima_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'hecho_victimizante_id' in version.valor_antes">
                                <label>Hecho victimizante</label>
                                <input class="form-control" :value="version.valor_antes.hecho_victimizante_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'responsable_del_hecho_id' in version.valor_antes">
                                <label>Responsable del hecho</label>
                                <input class="form-control" :value="version.valor_antes.responsable_del_hecho_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'fecha_de_recepcion' in version.valor_antes">
                                <label>Fecha de recepción</label>
                                <input class="form-control" :value="version.valor_antes.fecha_de_recepcion" readonly>
                            </div>
                            <div class="form-group" v-if="'departamento_codigo' in version.valor_antes">
                                <label>Departamento</label>
                                <input class="form-control" :value="version.valor_antes.departamento_codigo.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'municipio_id' in version.valor_antes">
                                <label>Municipio</label>
                                <input class="form-control" :value="version.valor_antes.municipio_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'direccion' in version.valor_antes">
                                <label>Dirección</label>
                                <input class="form-control" :value="version.valor_antes.direccion" readonly>
                            </div>
                            <div class="form-group" v-if="'cantidad_personas_afectadas' in version.valor_antes">
                                <label>Cantidad de personas afectadas</label>
                                <input class="form-control" :value="version.valor_antes.cantidad_personas_afectadas" readonly>
                            </div>
                            <div class="form-group" v-if="'relato' in version.valor_antes">
                                <label>Relato</label>
                                <textarea :value="version.valor_antes.relato" class="form-control text-left" rows="10" readonly>
                                    </textarea>
                            </div>
                        </div>
                        <div class="col px-4">
                            <h4 class="h-4">Modificado</h4>
                            <div class="form-group" v-if="'radicado' in version.valor_despues">
                                <label>Radicado</label>
                                <input class="form-control" :value="version.valor_despues.radicado" readonly>
                            </div>
                            <div class="form-group" v-if="'victima_id' in version.valor_despues">
                                <label>Víctima</label>
                                <input class="form-control" :value="version.valor_despues.victima_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'denunciante_id' in version.valor_despues">
                                <label>Denunciante</label>
                                <input class="form-control" :value="version.valor_despues.denunciante_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'comunidad_id' in version.valor_despues">
                                <label>Comunidad</label>
                                <input class="form-control" :value="version.valor_despues.comunidad_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'organizacion_victima_id' in version.valor_despues">
                                <label>Liderazgo de la víctima</label>
                                <input class="form-control" :value="version.valor_despues.organizacion_victima_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'hecho_victimizante_id' in version.valor_despues">
                                <label>Hecho victimizante</label>
                                <input class="form-control" :value="version.valor_despues.hecho_victimizante_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'responsable_del_hecho_id' in version.valor_despues">
                                <label>Responsable del hecho</label>
                                <input class="form-control" :value="version.valor_despues.responsable_del_hecho_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'fecha_de_recepcion' in version.valor_despues">
                                <label>Fecha de recepción</label>
                                <input class="form-control" :value="version.valor_despues.fecha_de_recepcion" readonly>
                            </div>
                            <div class="form-group" v-if="'departamento_codigo' in version.valor_despues">
                                <label>Departamento</label>
                                <input class="form-control" :value="version.valor_despues.departamento_codigo.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'municipio_id' in version.valor_despues">
                                <label>Municipio</label>
                                <input class="form-control" :value="version.valor_despues.municipio_id.nombre" readonly>
                            </div>
                            <div class="form-group" v-if="'direccion' in version.valor_despues">
                                <label>Dirección</label>
                                <input class="form-control" :value="version.valor_despues.direccion" readonly>
                            </div>
                            <div class="form-group" v-if="'cantidad_personas_afectadas' in version.valor_despues">
                                <label>Cantidad de personas afectadas</label>
                                <input class="form-control" :value="version.valor_despues.cantidad_personas_afectadas" readonly>
                            </div>
                            <div class="form-group" v-if="'relato' in version.valor_despues">
                                <label>Relato</label>
                                <textarea :value="version.valor_despues.relato" class="form-control" rows="10" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </b-card-body>
            </b-card>
        </div>
    </div>
</template>

<script>
    import AcordionAuditoria from "./AcordionAuditoria";
    import {EventBus} from "../../EventBus";
    import VersionCasoService from "../../services/VersionCasoService";
    export default {
        name: "AuditoriaShow",
        components: {AcordionAuditoria},
        props: [],

        data() {
            return {
                version:null,
                nombresTablas:{
                    "observacion_casos":{singular: "observación"},
                    "casos":{singular: "caso"},
                    "fecha_casos":{singular: "fecha"},
                    "documento_casos":{singular: "documento"},
                }
            }
        },

        methods: {
            async getVersiones(){
                EventBus.$emit('loading');
                let resp = await VersionCasoService.find(this.$route.params['id']);
                this.version = resp.data;

                EventBus.$emit('loading-close')
            },
            async cambiarEstado(id, estado){
                try{
                    await VersionCasoService.update(id, estado)
                    this.getVersiones()
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async aceptarVersion(id){
                let swalResp = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas aceptar estas modificaciones?',
                    icon: "warning",
                    buttons:["No, cancelar!", "Si, aceptar"]
                });
                if(swalResp) {
                    this.cambiarEstado(id,'aprobado')
                }
            },
            async rechazarVersion(id){
                let swalResp = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas rechazar estas modificaciones?',
                    icon: "warning",
                    buttons:["No, cancelar!", "Si, rechazar"]
                });
                if(swalResp) {
                    this.cambiarEstado(id,'cancelado')
                }
            },
            getNombreVersion(version){
                let str = "";
                //accion
                if(version.accion === 'update'){
                    str+= "Modificación de "
                }else if(version.accion === 'create'){
                    str+= "Creación de "
                }else{
                    str+= "Eliminación de "
                }
                //tabla
                str += this.nombresTablas[version.nombre_tabla].singular
                //número de caso
                if(version.nombre_tabla !== "casos") {
                    str += " en el caso " + version.numero_radicado
                }else{
                    str += " "+version.numero_radicado
                }
                return str;
            }
        },

        mounted() {
            this.getVersiones()
        }
    }
</script>
