<template>
    <div>
        <h2 class="h-secondary mb-3">Generar dirección</h2>
        <div class="row mb-3">
            <label for="zona">Zona</label>
            <select id="zona" v-model="zona" class="form-control">
                <option>Urbana</option>
                <option>Rural</option>
            </select>
        </div>
        <div class="row" v-if="zona === 'Rural'">
            <div class="col col-12 col-md-6 px-1">
                <select v-model="rural.via" class="form-control">
                    <option value="">Seleccione via</option>
                    <option value="CN">Camino</option>
                    <option value="CT ">Carretera</option>
                    <option value="CA">Casa</option>
                    <option value="EN">Entrada</option>
                    <option value="FINC">Finca</option>
                    <option value="KM">Kilómetro</option>
                    <option value="LT">Lote</option>
                    <option value="MZ">Manzana</option>
                    <option value="PS">Paseo</option>
                    <option value="PN">Puente</option>
                    <option value="PD">Predio</option>
                    <option value="SR">Sector</option>
                    <option value="SL">Solar</option>
                    <option value="VDA">Vereda</option>
                    <option value="ZN">Zona</option>
                </select>
            </div>
            <div class="col col-12 col-md-6 px-1">
                <input placeholder="Complemento" v-model="rural.complemento" class="form-control">
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <button class="btn btn-primary" type="button" @click="guardarRural">Guardar</button>
            </div>
        </div>
        <div class="row" v-if="zona === 'Urbana'">
            <div class="col col-12 col-md-auto mb-2">
                <select class="form-control" v-model="urbana.via">
                    <option value="">Seleccione via principal</option>
                    <option value="AP">AUTOPISTA</option>
                    <option value="AV">AVENIDA</option>
                    <option value="AC">AVENIDA CALLE</option>
                    <option value="AK">AVENIDA CARRERA</option>
                    <option value="CL" selected="selected">CALLE</option>
                    <option value="CRA">CARRERA</option>
                    <option value="CIRC">CIRCUNVALAR</option>
                    <option value="DG">DIAGONAL</option>
                    <option value="MANZ">MANZANA</option>
                    <option value="TV">TRANSVERSAL</option>
                    <option value="VIA">VIA</option>
                </select>
            </div>
            <div class="col col-12 col-md-auto mb-2">
                <input class="form-control" v-model="urbana.num" id="numero" placeholder="Numero..."  name="numero"
                       type="number">
            </div>

            <div class="col col-12 col-md-auto mb-2">
                <select class="form-control" id="letra"
                        name="letra" v-model="urbana.letra">
                    <option value="">Letra</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
            </div>

            <div class="col col-12 col-md-auto mb-2">
                <input id="bis" v-model="urbana.bis" name="bis" type="checkbox"><label for="bis">BIS</label>
            </div>

            <!--
            <div class="col col-12 col-md-auto mb-2">
                <select class="form-control" v-model="urbana.letra2" id="letraa" name="letraa">
                    <option value="">Letra</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
            </div>
            -->
            <div class="col col-12 col-md-auto mb-2">
                <select class="form-control" id="direcci"
                        name="direcci" v-model="urbana.direccion">
                    <option value=""></option>
                    <option value="Norte">NORTE</option>
                    <option value="Oeste">OESTE</option>
                    <option value="Este">ESTE</option>
                    <option value="Sur">SUR</option>
                </select>
            </div>

            <div class="col col-12 col-md-auto mb-2 text-right">
                #
            </div>
            <div class="col col-12 col-md-auto mb-2">
                <input class="form-control" v-model="urbana.num2" placeholder="Numero..." id="numero1"  name="numero1"
                       type="number">
            </div>
            <div class="col col-12 col-md-auto mb-2">
                <select class="form-control" v-model="urbana.letra3" id="letrab" name="letrab">
                    <option value="">Letra</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                    <option value="H">H</option>
                    <option value="I">I</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="O">O</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="R">R</option>
                    <option value="S">S</option>
                    <option value="T">T</option>
                    <option value="U">U</option>
                    <option value="V">V</option>
                    <option value="W">W</option>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
            </div>

            <div class="col col-12 col-md-auto mb-2">
                -
            </div>

            <div class="col col-12 col-md-auto mb-2">
                <input class="form-control" v-model="urbana.num3" placeholder="Numero..." id="numero2" maxlength="3" name="numero2"
                       type="number">

            </div>

            <div class="col col-12 col-md-auto mb-2">
                <select class="form-control" v-model="urbana.direccion2" id="direccion1" name="direccion1">
                    <option value=""></option>
                    <option value="Norte">NORTE</option>
                    <option value="Oeste">OESTE</option>
                    <option value="Este">ESTE</option>
                    <option value="Sur">SUR</option>
                </select>
            </div>
            <div class="col col-12 col-md-5 px-1">
                <input placeholder="Complemento" v-model="urbana.complemento" class="form-control">
            </div>

            <div class="col-12 d-flex justify-content-center mt-3">
                <button class="btn btn-primary" type="button" @click="guardarUrbana">Guardar</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DireccionForm",

        props: {

        },

        data() {
            return {
                zona:null,
                rural:{
                    via:"",
                    complemento:""
                },
                urbana:{
                    via:"",
                    num:"",
                    letra:"",
                    bis:false,
                    letra2:"",
                    direccion:"",
                    num2:"",
                    letra3:"",
                    num3:"",
                    direccion2:"",
                    complemento:""
                }
            }
        },

        methods: {
            guardarRural(){
                let result = this.rural.via+" "+this.rural.complemento;
                this.$emit('direccionGenerada',result)
            },
            guardarUrbana(){
                let result = this.urbana.via+" "+this.urbana.num;
                result += " "+this.urbana.letra+" "+(this.urbana.bis ? "BIS" : "")
                result += " "+this.urbana.letra2+" "+this.urbana.direccion;
                if(this.urbana.num2 !== "" || this.urbana.letra3 !== "") {
                    result += " #" + this.urbana.num2 + " " + this.urbana.letra3 + " - ";
                }
                if(this.urbana.num3 !== "" || this.urbana.direccion2 !== "") {
                    result += this.urbana.num3 + " " + this.urbana.direccion2;
                }
                result += " "+this.urbana.complemento
                this.$emit('direccionGenerada',result)
            },
        },

        mounted() {

        }
    }
</script>
