<template>
    <div class="d-flex flex-column notificaciones-container">
        <div @click="verNotificacion(notificacion)" v-for="notificacion in notificaciones" class="row p-2 notificaciones-item">
            <div class="col-auto px-1"><div class="bg-gradient rounded-circle circle-notificaciones">{{notificacion.user.name.charAt(0)}}</div></div>
            <div class="col px-1">
                <p :class="'text-justify text-14 mb-0 '+(notificacion.visto === 'si' ? '': 'text-bold')">{{notificacion.mensaje}}</p>
                <p class="text-right mb-0"><small class="text-14 text-primary">{{notificacion.fecha}}</small></p>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: "NotificacionesCard",

        props:['notifications'],

        data() {
            return {
                notificaciones:[],
                user:null
            }
        },

        methods: {
            verNotificacion(data){
                this.$emit('verNotificacion',data)
            }
        },

        watch:{
          notifications(){
              this.notificaciones = this.$props.notifications
          }
        },

        mounted() {
            this.notificaciones = this.$props.notifications
        }
    }
</script>

<style scoped>
    .circle-notificaciones{
        width: 50px;
        height: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    .notificaciones-container .row:not(:nth-last-child(1)) {
        border-bottom: 1px solid #EFEFEF;
    }
    .notificaciones-item:hover{
        cursor:pointer;
        background: #EFEFEF;
    }
</style>
