<template>
    <div>
        <h3 class="h-3">Cambiar Contraseña</h3>
        <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="guardar()">
            <div class="form-group">
                <ValidationProvider rules="required|min:6" v-slot="{ errors }" name="contraseña actual">
                    <label>Contraseña actual</label>
                    <input v-model="form.current_password" class="form-control" type="password">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|min:6" v-slot="{ errors }" name="contraseña nueva" vid="password">
                    <label>Contraseña nueva</label>
                    <input v-model="form.password" class="form-control" type="password">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|confirmed:password" v-slot="{ errors }" name="confirmación">
                    <label>Confirmar contraseña</label>
                    <input v-model="form.password_confirmation" class="form-control" type="password">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary" :disabled="invalid" type="submit">Guardar</button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../EventBus";
    import UsuarioService from "../../services/UsuarioService";

    export default {
        name: "CambiarPass",

        props: {

        },

        data() {
            return {
                form:{
                    current_password:"",
                    password:"",
                    password_confirmation:""
                }
            }
        },

        methods: {
            async guardar(){
                try {
                    EventBus.$emit('loading');
                    await UsuarioService.changePassword(this.form);
                    EventBus.$emit('loading-close');
                    this.$swal({
                        title: "Bien!",
                        text:"La contraseña se actualizó correctamente",
                        icon: "success",
                    }).then(()=>{
                        this.form.current_password=""
                        this.form.password=""
                        this.form.password_confirmation=""
                    })
                }catch(error){
                    EventBus.$emit('loading-close');
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
        },

        mounted() {

        },

        watch:{

        }

    }
</script>
