<template>
    <div>
        <h3 class="h-3">Información</h3>
        <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="guardar()">
            <div class="form-group">
                <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                    <label>Nombre</label>
                    <input v-model="form.name" class="form-control" placeholder="Nombre">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group">
                <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                    <label>Email</label>
                    <input v-model="form.email" class="form-control" placeholder="Email">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-primary" :disabled="invalid" type="submit">Guardar</button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import UsuarioService from "../../services/UsuarioService";

    export default {
        name: "InfoPage",

        props: {
            user:{
                type:Object,
                required: true
            }
        },

        data() {
            return {
                form:{
                    name:"",
                    email:""
                }
            }
        },

        methods: {
            async guardar(){
                try {
                    let id = JSON.parse(localStorage.getItem('user')).id;
                    await UsuarioService.update(id, this.form);
                    this.$swal({
                        title: "Bien!",
                        text:"Tus datos se actualizaron correctamente",
                        icon: "success",
                    })
                }catch (e) {
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
        },

        mounted() {
            this.form.name = this.$props.user.name;
            this.form.email = this.$props.user.email;
        },

        watch:{
            user(){
                this.form.name = this.$props.user.name;
                this.form.email = this.$props.user.email;
            }
        }

    }
</script>
