<template>
    <div>
        <h3 class="h-3 mb-3">Notificaciones</h3>
        <NotificacionesCard :notifications="notificaciones" />
    </div>
</template>
<script>
    import NotificacionesCard from "../../components/NoficacionesCard";
    import NotificacionService from "../../services/NotificacionService";
    import {EventBus} from "../../EventBus";

    export default {
        name: "Notificaciones",
        components: {NotificacionesCard},
        props: {

        },

        data() {
            return {
                notificaciones:[],
                user: null
            }
        },

        methods: {
            async getNotificaciones(){
                let resp;
                EventBus.$emit('loading');
                if(this.user.role === 'administrador') {
                    resp = await NotificacionService.all('?id=');
                }else{
                    resp = await NotificacionService.all('?id=' + this.user.id);
                }
                EventBus.$emit('loading-close');
                this.notificaciones = resp.data;
            },
            async verNotificacion(notificacion){
                this.mostrarVentanaNotificaciones = false;
                await NotificacionService.update(notificacion.id,'si');
                this.getNotificaciones();
                if(this.user.role === 'administrador'){
                    this.$router.push({path: '/auditoria'})
                }else{
                    this.$router.push({path: '/casos/'+notificacion.caso_id})
                }
            }
        },

        mounted() {
            this.user = JSON.parse(localStorage.getItem('user'));
            this.getNotificaciones();
        },

        watch:{

        }

    }
</script>
