<template>
    <div class="bg-light-gray my-container">
        <Loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="true" color="#49AF73" loader="dots"></Loading>
        <div class="container">
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Perfil &nbsp;</h1>
            </div>
            <div class="bg-white p-4 border-rounded">
                <div class="row">
                    <div class="col col-12 col-md-6 col-lg-3">
                        <div class="mb-2 d-flex justify-content-center">
                            <div><img class="rounded-circle" src="/img/default-user-image.png" width="130px"></div>
                        </div>
                        <h3 class="h-3 mb-0 text-center">{{user.name}}</h3>
                        <p class="text-small-gray text-center">{{user.role}}</p>
                    </div>
                    <div class="col col-12 col-md-6">
                        <transition name="fadeIn" mode="out-in">
                            <InfoPage v-if="menuActive === 'InfoPage'" :user="user"></InfoPage>
                            <CambiarPass v-else-if="menuActive === 'CambiaPass'"/>
                            <Notificaciones v-else-if="menuActive === 'Notificaciones'" />
                        </transition>
                    </div>
                    <div class="col col-12 col-lg-3 border-left align-self-start d-flex aside-menu">
                        <a href="#" :class="menuActive === 'InfoPage' ? 'menu__link active' : 'menu__link'" @click="menuActive = 'InfoPage'">Información Personal</a>
                        <a href="#" :class="menuActive === 'CambiaPass' ? 'menu__link active' : 'menu__link'" @click="menuActive = 'CambiaPass'">Cambiar Contraseña</a>
                        <a href="#" v-if="hasRole('administrador') || hasRole('casos')" :class="menuActive === 'Notificaciones' ? 'menu__link active' : 'menu__link'" @click="menuActive = 'Notificaciones'">Notificaciones</a>
                        <a href="javascript:void(0)" @click="logout" class="menu__link text-danger"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InfoPage from "./InfoPage";
    import Notificaciones from "./Notificaciones";
    import CambiarPass from "./CambiarPass";
    export default {
        name: "Perfil",
        components: {CambiarPass, Notificaciones, InfoPage},
        props: {

        },

        data() {
            return {
                isLoading: false,
                menuActive:'InfoPage'
            }
        },

        methods: {
            guardar(){

            },
            async logout(){
                let swalResp = await this.$swal({
                    title:'¿Estás seguro?',
                    icon:'warning',
                    text:'¿Deseas cerrar sesión?',
                    buttons:['No, cancelar', 'Si, aceptar']
                });
                if(swalResp){
                    axios.post('logout').then(()=>{
                        localStorage.clear();
                        window.location.reload();
                    })
                }
            },
        },

        mounted() {

        },

        computed:{
            user(){
                return JSON.parse(localStorage.getItem('user'))
            }
        }

    }
</script>
