<template>
    <div class="row justify-content-center bg-gradient align-items-center" style="min-height: 100vh">
        <div class="col col-12 col-md-6 p-5 bg-white rounded shadow">
            <div class="text-center">
                <img src="/img/logo-grande.png" width="200px">
            </div>
            <h1 class="text-center" style="font-size: 60px">Error 404</h1>
            <h3 class="h-3 text-center">Página no encontrada</h3>
            <div class="row justify-content-center">
                <button class="btn btn-primary" @click="$router.push({path:'/casos'})">Volver al inicio</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "error404",

        props: [],

        data() {
            return {
                example: 'holaa'
            }
        },

        methods: {

        },

        mounted() {

        }
    }
</script>
