
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand/Quicksand-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand/Quicksand-Regular.ttf");
    font-weight: 300;
}

//text
body {
    font-family: 'Poppins', sans-serif;
    color: $light-gray;
}
.h-primary{
    font-size: 25px;
    font-weight: 700;
    color: black;
    &--light{
        font-weight: 400;
    }
}
.h-secondary{
    font-size: 23px;
    font-weight: 400;
    color: $primary-green;
}
.h-3{
    font-size: 18px;
    color: $dark-green;
    font-weight: 400;
}
.h-4{
    font-size: 16px;
    color: $primary-green;
    font-weight: 400;
}
.text-small-gray{
    font-size: 14px;
    color: $light-gray;
    font-weight: 400;
}
h2{
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.form-control{
    color: black !important;
    &:focus{
        border: 1px solid $primary-green !important;
        outline: 1px $primary-green !important;
        box-shadow: 0 0 0 5px rgba($primary-green,.2) !important;
    }
}

.table{
    thead{
        background: $my-linear-gradient;
        color: white;
        border: none !important;
    }
}

//modal

.modal-content{
    border: none !important;
}

.modal-header{
    background: $extra-light-green !important;
    color: $dark-green !important;
    border: none !important;
    padding: 5px 10px !important;
}

label{
    font-size: 12px;
}

//datepicker

.vdp-datepicker input{
    width: 100%;
    min-height: 38px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding-left: 5px;
}

//vue select

.vs__dropdown-toggle{
    min-height: 38px;
}

//NORMALIZE PAGINATOR
.page-item.active .page-link {
    background-color: $extra-light-green;
    border-color: $extra-light-green;
    color: $dark-green;
}

.page-link{
    color: $light-gray;
}

.page-link:hover{
    color: $dark-green !important;
}

//CHECKBOX
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary-green;
    background-color: $primary-green;
}

.text-primary{
    color: $primary-green !important;
}

.text-14{
    font-size: 14px;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;

    /* Track */
    &-track {
        border-radius: 10px;
    }

    /* Handle */
    &-thumb {
        background: #e6e6e6;
        border-radius: 10px;
    }

    /* Handle on hover */
    &-thumb:hover {
        background: #bebebe;
    }

}


.nav-tabs .nav-link.active{
    border: none !important;
}

