.linea-verde{
    position: relative;
    z-index: 0;
    &::after{
        content: '';
        height: 2px;
        background-color: $primary-green;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index:-1;
    }
    &--light{
        &::after{
            height: 1px !important;
        }
    }
}

.bg-light-gray{
    background-color: $extra-light-gray;
    border-color: $light-gray !important;
}

.bg-gradient{
    background: $my-linear-gradient;
}

.text-dark{
    color: $dark-green !important;
}

.text-primary-green{
    color: $primary-green !important;
}

.my-container{
    min-height: 100vh;
    padding: 110px 10px;
}

@media (min-width: 992px) {
    .my-container{
        padding: 90px 30px;
    }
}

.border-squared{
    border-radius: 0 !important;
}

.toggable{
    cursor:pointer;
}

.border-primary-green{
    border: 1px solid $primary-green;
}

.bg-success-light{
    background-color: rgba($success,.1);
}
.bg-danger-light{
    background-color: rgba($danger,.1);
}
.text-bold{
    font-weight: 700;
}


