<template>
    <div class="table-responsive">
        <!--
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha del hecho</th>
                    <th>Víctima</th>
                    <th>Denunciante</th>
                    <th>Hecho victimizante</th>
                    <th>Municipio</th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="caso in casos" @click="$router.push({path: 'casos/'+caso.id})" style="cursor: pointer">
                <td v-b-tooltip.hover :title="caso.radicado">{{caso.id}}</td>
                <td>{{caso.fecha_del_hecho_one.fecha_inicio}}</td>
                <td>
                    {{caso.victima_id === null ? caso.comunidad.descripcion : caso.victima.nombres+" "+caso.victima.apellido+" / "+caso.victima.n_documento}}
                </td>
                <td>
                    {{caso.denunciante.nombres+" "+caso.denunciante.apellido+" / "+caso.denunciante.n_documento}}
                </td>
                <td>
                    {{caso.hecho_victimizante.descripcion}}
                </td>
                <td>
                    {{caso.municipios.descripcion+", "+caso.departamento.descripcion}}
                </td>
            </tr>
            </tbody>
        </table>
        -->
        <b-table class="table-hover" @row-clicked="(caso)=>{$router.push({path: 'casos/'+caso.id})}" :items="casosComputed" :fields="fields" id="my-table">
            <template v-slot:cell(ID)="caso">
                <p v-b-tooltip.hover :title="caso.item.radicado">{{caso.item.id}}</p>
            </template>
        </b-table>
    </div>
</template>

<script>
    export default {
        name: "CasosTable",

        props: {
            casos: {
                type: Array,
                required: true,
            }
        },

        data() {
            return {
                fields:[
                    'ID',
                    {
                        key:'fecha',
                        label:'Fecha del hecho',
                        sortable:true
                    },
                    {
                        key:'victima',
                        label:'Víctima',
                        sortable:true
                    },
                    {
                        key:'denunciante',
                        label:'Denunciante',
                        sortable:true
                    },
                    {
                        key:'hecho',
                        label:'Hecho Victimizante',
                        sortable:true
                    },
                    {
                        key:'municipio',
                        label:'Municipio',
                        sortable:true
                    },
                ],
            }
        },

        watch:{

        },

        methods: {

        },

        computed:{
            casosComputed(){
                let casos = [];
                this.$props.casos.forEach(caso=>{
                    let item = {
                        radicado:caso.radicado,
                        id:caso.id,
                        fecha: caso.fecha_del_hecho_one.fecha_inicio,
                        victima: caso.victima_id === null ? caso.comunidad.descripcion : caso.victima.nombres+" "+caso.victima.apellido+" / "+caso.victima.n_documento,
                        denunciante: caso.denunciante.nombres+" "+caso.denunciante.apellido+" / "+caso.denunciante.n_documento,
                        hecho: caso.hecho_victimizante.descripcion,
                        municipio: caso.municipios.descripcion+", "+caso.departamento.descripcion
                    };
                    casos.push(item)
                });
                return casos;
            }
        },

        mounted() {

        },
        components:{

        }
    }
</script>
<style>
    tr{
        cursor:pointer;
    }
</style>
