<template>

    <div class="bg-light-gray my-container">
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Casos &nbsp;</h1>
                <button v-if="hasRole('administrador') || hasRole('casos')" class="btn btn-primary" @click="$router.push({path: '/casos/crear'})">+ Nuevo Caso</button>
            </div>
            <!-- Caja de consulta -->
            <div class="bg-white rounded p-3 mb-5">
                <h2 class="h-secondary text-center mb-3">Consultar caso</h2>
                <form>
                    <div class="row">
                        <div class="p-1 col-12 col-md-3">
                            <input type="text" class="form-control" placeholder="ID del caso" v-model="formConsulta.id">
                        </div>
                        <div class="p-1 col-12 col-md-9">
                            <v-select placeholder="Nombre/Identificación denunciante" :options="personas" v-model="formHelpers.denuncianteSelected"></v-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="p-1 col-12 col-md-3">
                            <select class="form-control" v-model="formHelpers.tipoVictima" @change="formHelpers.victimaSelected = '';formHelpers.comunidadSelected = ''">
                                <option value="">Tipo de víctima</option>
                                <option value="persona">Persona</option>
                                <option value="comunidad">Comunidad</option>
                            </select>
                        </div>
                        <div class="p-1 col-12 col-md-9" v-if="formHelpers.tipoVictima === 'persona'">
                            <v-select placeholder="Nombre/Identificación víctima" :options="personas" v-model="formHelpers.victimaSelected"></v-select>
                        </div>
                        <div class="p-1 col-12 col-md-9" v-if="formHelpers.tipoVictima === 'comunidad'">
                            <v-select placeholder="Nombre comunidad víctima" :options="comunidades" v-model="formHelpers.comunidadSelected"></v-select>
                        </div>
                        <div class="p-1 col-12 col-md-9" v-if="formHelpers.tipoVictima === ''">
                            <input class="form-control" placeholder="Nombre víctima" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="p-1 col-12">
                            <v-select placeholder="Hecho Victimizante" :options="hechosVictimizantes" id="hechos" v-model="formHelpers.hechoVictimizanteSelected"></v-select>
                        </div>
                        <div class="p-1 col-12 col-md-6">
                            <datepicker format="dd/MM/yyyy" v-model="formHelpers.fechaHechoSelected" placeholder="Fecha inicial"></datepicker>
                        </div>
                        <div class="p-1 col-12 col-md-6">
                            <datepicker format="dd/MM/yyyy" v-model="formHelpers.fechaHechoFinalSelected" placeholder="Fecha final"></datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="p-1 col-12 col-md-6">
                            <v-select placeholder="Departamento" :options="departamentos" id="departamento" v-model="formHelpers.departamentoSelected" @input="getMunicipios"></v-select>
                        </div>
                        <div class="p-1 col-12 col-md-6">
                            <v-select placeholder="Municipio" :options="municipios" id="municipio" v-model="formHelpers.municipioSelected"></v-select>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button type="button" class="btn btn-outline-primary" @click="getCasos">Consultar</button>
                    </div>
                </form>
            </div>
            <!-- Tabla -->
            <div class="bg-white rounded p-3 mb-3">
                <CasosTable :casos="casos" />
            </div>
            <div class="row justify-content-center">
                <b-pagination
                    v-model="currentPage"
                    :total-rows="rows"
                    :per-page="perPage"
                    aria-controls="my-table"
                    align="center"
                    @change="getCasos"
                ></b-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import {EventBus} from "../../../EventBus";
    import CasoService from "../../../services/CasoService";
    import HechoVictimizanteService from "../../../services/HechoVictimizanteService";
    import MunicipioService from "../../../services/MunicipioService";
    import DepartamentoService from "../../../services/DepartamentoService";
    import Datepicker from "vuejs-datepicker";
    import moment from 'moment';
    import CasosTable from "./CasosTable";
    import PersonaService from "../../../services/PersonaService";
    import ComunidadService from "../../../services/ComunidadService";
    import SortedTablePlugin from "vue-sorted-table";

    export default {
        name: "IndexCasos",

        props: [],

        data() {
            return {
                formConsulta:{
                    id: "",
                    fechaHecho:"",
                },
                casos:[],
                page:1,
                currentPage: 1,
                rows: 1,
                perPage: 10,
                formHelpers:{
                    hechosVictimizantes:[],
                    hechoVictimizanteSelected:"",
                    departamentos:[],
                    departamentoSelected:"",
                    municipios:[],
                    municipioSelected:"",
                    fechaHechoSelected:"",
                    fechaHechoFinalSelected:"",
                    tipoVictima:"",
                    victimaSelected:"",
                    denuncianteSelected:"",
                    personas:[],
                    comunidades:[],
                    comunidadSelected:""
                }
            }
        },

        methods: {
            async getCasos(event){
                EventBus.$emit('loading');
                let id = this.formConsulta.id !== "" ? "&id="+this.formConsulta.id : "";
                let fechaInicio = (this.formHelpers.fechaHechoSelected !== "" && this.formHelpers.fechaHechoSelected !== null)
                    ? "&fecha_inicio="+moment(this.formHelpers.fechaHechoSelected).format('YYYY-MM-DD') : "";
                let fechaFinal = (this.formHelpers.fechaHechoFinalSelected !== "" && this.formHelpers.fechaHechoFinalSelected !== null)
                    ? "&fecha_final="+moment(this.formHelpers.fechaHechoFinalSelected).format('YYYY-MM-DD') : "";
                let tipoVictima = this.formHelpers.tipoVictima !== "" ? "&tipo_victima="+this.formHelpers.tipoVictima : "";
                let victima = (this.formHelpers.victimaSelected !== "" && this.formHelpers.victimaSelected !== null) ? "&victima="+this.formHelpers.victimaSelected.code : "";
                let denunciante = (this.formHelpers.denuncianteSelected !== "" && this.formHelpers.denuncianteSelected !== null) ? "&denunciante="+this.formHelpers.denuncianteSelected.code : "";
                let departamento = (this.formHelpers.departamentoSelected !== "" && this.formHelpers.departamentoSelected !== null)
                    ? "&departamento="+this.formHelpers.departamentoSelected.code : "";
                let municipio = (this.formHelpers.municipioSelected !== "" && this.formHelpers.municipioSelected !== null)
                    ? "&municipio="+this.formHelpers.municipioSelected.code : "";
                let hecho_victimizante = (this.formHelpers.hechoVictimizanteSelected !== "" && this.formHelpers.hechoVictimizanteSelected !== null)
                    ? "&hecho_victimizante="+this.formHelpers.hechoVictimizanteSelected.code : "";
                if(event){
                    this.page = event;
                }
                let query = '?page='+this.page+id+fechaInicio+fechaFinal+tipoVictima+victima+denunciante+departamento+municipio+hecho_victimizante;
                let response =  await CasoService.all(query);
                EventBus.$emit('loading-close');
                this.casos = response.data.data;
                this.currentPage = response.data.current_page;
                this.rows = response.data.total;
            },
            async getFormHelpers(){
                EventBus.$emit('loading');
                this.formHelpers.hechosVictimizantes = (await HechoVictimizanteService.all()).data;
                this.formHelpers.departamentos = (await DepartamentoService.all()).data;
                this.formHelpers.personas = (await PersonaService.all('')).data;
                this.formHelpers.comunidades = (await ComunidadService.all()).data;
                EventBus.$emit('loading-close');
            },
            async getMunicipios(){
                EventBus.$emit('loading')
                try {
                    if(this.formHelpers.departamentoSelected !== null && this.formHelpers.departamentoSelected !== '') {
                        this.formHelpers.municipioSelected = null;
                        this.formHelpers.municipios = (await MunicipioService.all(this.formHelpers.departamentoSelected.code)).data
                        EventBus.$emit('loading-close')
                    }else{
                        this.formHelpers.municipioSelected = null;
                        EventBus.$emit('loading-close')
                        this.formHelpers.municipios = [];
                    }
                }catch (e) {
                    EventBus.$emit('loading-close')
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
        },

        mounted() {
            this.getFormHelpers()
            this.getCasos()
        },

        computed:{
            hechosVictimizantes(){
                let arr = [];
                this.formHelpers.hechosVictimizantes.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            departamentos(){
                let arr = [];
                this.formHelpers.departamentos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipios(){
                let arr = [];
                this.formHelpers.municipios.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            personas(){
                let arr = [];
                this.formHelpers.personas.forEach(item => {
                    arr.push({label: item.nombres+' ' +item.apellido+' - '+item.n_documento, code: item.id})
                });
                return arr
            },
            comunidades(){
                let arr = [];
                this.formHelpers.comunidades.forEach(item => {
                    arr.push({label: item.nombre, code: item.id})
                });
                return arr
            },
        },
        components:{
            CasosTable,
            Datepicker,
            SortedTablePlugin
        }
    }
</script>
