<template>
    <div>
        <b-modal title="Generar Dirección" v-model="generarDireccion" size="lg" hide-footer>
            <DireccionForm @direccionGenerada="(data) => {direccionGenerada(data)}"/>
        </b-modal>
        <b-modal title="Crear hecho victimizante" v-model="modalHechos" hide-footer>
            <GeneralesForm :item-data="{descripcion: ''}" @guardar="(data)=>{guardarHecho(data)}"/>
        </b-modal>
        <b-modal title="Crear responsable" v-model="modalResponsables" hide-footer>
            <GeneralesForm :item-data="{descripcion: ''}" @guardar="(data)=>{guardarResponsable(data)}"/>
        </b-modal>
        <b-modal title="Crear estado" v-model="modalEstados" hide-footer>
            <GeneralesForm :item-data="{descripcion: ''}" @guardar="(data)=>{guardarEstado(data)}"/>
        </b-modal>
        <ValidationObserver ref="form" tag="form" @submit.prevent="()=>{return false;}">
            <div class="row">
                <div :class="(hasRole('casos') || hasRole('administrador')) ? 'col col-12 col-md-8 col-lg-9 px-1' : 'col col-12 px-1'">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="hecho victimizante">
                        <label for="persona">Hecho Victimizante</label>
                        <v-select :options="hechosComputed" id="persona" v-model="hechoSelected" :disabled="hasRole('consulta')"></v-select>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div v-if="hasRole('casos') || hasRole('administrador')" class="col col-12 col-md-4 col-lg-3 px-1" style="padding-top: 32px">
                    <button type="button" @click="modalHechos = true" class="btn btn-block btn-outline-primary border-squared">+ Agregar Hecho</button>
                </div>
                <div :class="(hasRole('casos') || hasRole('administrador')) ? 'col col-12 col-md-8 col-lg-9 px-1' : 'col col-12 px-1'">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="responsable">
                        <label for="responsable">Responsable del Hecho</label>
                        <v-select :options="responsablesComputed" id="responsable" v-model="responsableSelected" :disabled="hasRole('consulta')"></v-select>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div v-if="hasRole('casos') || hasRole('administrador')" class="col col-12 col-md-4 col-lg-3 px-1" style="padding-top: 32px">
                    <button type="button" @click="modalResponsables = true" class="btn btn-block btn-outline-primary border-squared">+ Agregar </button>
                </div>
                <div class="col col-12 px-1">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="estado del proceso">
                        <label for="estado">Estado del proceso</label>
                        <v-select :options="estadosComputed" id="estado" v-model="estadoSelected" :disabled="hasRole('consulta')"></v-select>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <!--
               //NO BORRAR ESTA LÍNEA (PODRÍA SE ÚTIL EN FUTURA ACTUALIZACIÓN)
                <div class="col col-12 col-md-4 col-lg-3 px-1" style="padding-top: 32px">
                    <button type="button" @click="modalEstados = true" class="btn btn-block btn-outline-primary border-squared">+ Agregar estado</button>
                </div>
                -->
                <div class="col col-12 col-md-6 px-1">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="fecha de recepción">
                        <label for="persona">Fecha de recepción</label>
                        <datepicker :disabled-dates="{from: new Date()}"
                                    format="yyyy-MM-dd" v-model="fechaDeRecepcion" :disabled="hasRole('consulta')" required></datepicker>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1">
                    <ValidationProvider rules="required|numeric|min:0" v-slot="{ errors }" name="cantidad de personas afectadas">
                        <label for="cantidad_personas_afectadas">Cantidad de Personas Afectadas</label>
                        <input class="form-control" :disabled="hasRole('consulta')" v-model="form.cantidad_personas_afectadas" id="cantidad_personas_afectadas">
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 px-1">
                    <hr>
                    <h6 class="h-3 mb-3">Dirección de ocurrencia</h6>
                </div>
                <div class="col col-12 col-md-6 px-1">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="departamento">
                        <label for="departamento">Departamento</label>
                        <v-select :disabled="hasRole('consulta')" :options="departamentosComputed" id="departamento" v-model="departamentoSelected" @input="getMunicipios"></v-select>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div class="col col-12 col-md-6 px-1">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                        <label for="municipio">Municipio</label>
                        <v-select :disabled="hasRole('consulta')" :options="municipiosComputed" id="municipio" v-model="municipioSelected"></v-select>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div :class="(hasRole('casos') || hasRole('administrador')) ? 'col col-12 col-md-8 col-lg-9 px-1' : 'col col-12 px-1'">
                    <ValidationProvider rules="" v-slot="{ errors }" name="dirección">
                        <label for="direccion">Dirección</label>
                        <input id="direccion" v-model="form.direccion" class="form-control" disabled>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
                <div v-if="hasRole('casos') || hasRole('administrador')" class="col col-12 col-md-4 col-lg-3 d-flex align-items-end px-1">
                    <button type="button" class="btn btn-outline-primary border-squared btn-block" @click="generarDireccion = true">Generar</button>
                </div>
                <div class="col col-12 px-1">
                    <div class="bg-light-gray p-3 my-5">
                        <h3 class="h-3 mb-3 text-center">Fechas de Ocurrencia</h3>
                        <div class="row mb-3" v-for="fecha in form.fechas">
                            <div class="col col-3 px-1">
                                <label>Tipo</label>
                                <input class="form-control" :value="fecha.tipo_fecha" disabled>
                            </div>
                            <div class="col col-4 px-1">
                                <label>Fecha inicio</label>
                                <input class="form-control" :value="fecha.fecha_inicio" disabled>
                            </div>
                            <div class="col col-4 px-1">
                                <label>Fecha fin</label>
                                <input class="form-control" :value="fecha.fecha_final" disabled>
                            </div>
                            <div class="col col-1 d-flex align-items-end px-1" v-if="hasRole('casos') || hasRole('administrador')">
                                <a class="my-link" v-b-tooltip.hover title="Eliminar" href="javascript:void(0)" @click="eliminarFecha(fecha.id)"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <div class="row" v-if="hasRole('casos') || hasRole('administrador')">
                            <div class="col col-12 col-md-3 p-1">
                                <select class="form-control" v-model="fechas.tipo_fecha" @change="vaciarInputFechas">
                                    <option>Mes</option>
                                    <option>Período</option>
                                    <option>Día</option>
                                </select>
                            </div>
                            <div class="col col-12 col-md-9 px-0 py-1">
                                <div class="row" v-if="fechas.tipo_fecha === 'Mes'">
                                    <div class="col col-12 col-md-8 px-1">
                                        <month-picker-input style="z-index: 3; width: 100%" lang="es" @input="(date)=>{checkMonth(date)}"></month-picker-input>
                                    </div>
                                    <div class="col col-12 col-md-4 px-1" v-if="hasRole('casos') || hasRole('administrador')">
                                        <button type="button" class="btn btn-primary border-squared btn-block" @click="agregarMes">+ Agregar Mes</button>
                                    </div>
                                </div>
                                <div class="row" v-if="fechas.tipo_fecha === 'Período'">
                                    <div class="col col-6 col-md-4 px-1">
                                        <datepicker :disabled-dates="{from: today}"
                                                    format="yyyy-MM-dd" v-model="fechas.inicio" required></datepicker>
                                    </div>
                                    <div class="col col-6 col-md-4 px-1">
                                        <datepicker :disabled-dates="{from: today,to: fechas.inicio}"
                                                    format="yyyy-MM-dd" v-model="fechas.fin" required></datepicker>
                                    </div>
                                    <div class="col col-12 col-md-4 px-1">
                                        <button type="button" class="btn btn-primary border-squared btn-block" @click="agregarPeriodo">+ Agregar Período</button>
                                    </div>
                                </div>
                                <div class="row" v-if="fechas.tipo_fecha === 'Día'">
                                    <div class="col col-12 col-md-8 px-1">
                                        <datepicker :disabled-dates="{from: today}"
                                                    format="yyyy-MM-dd" v-model="fechas.inicio" required></datepicker>
                                    </div>
                                    <div class="col col-12 col-md-4 px-1">
                                        <button type="button" class="btn btn-primary border-squared btn-block" @click="agregarDia">+ Agregar día</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 px-1">
                    <ValidationProvider rules="required" v-slot="{ errors }" name="relato">
                        <label for="relato">Relato</label>
                        <textarea id="relato" v-model="form.relato" rows="10" class="form-control" :disabled="hasRole('consulta')"></textarea>
                        <small class="text-danger">{{errors[0]}}</small>
                    </ValidationProvider>
                </div>
            </div>
        </ValidationObserver>
        <b-modal title="Agregar Comentario" v-model="comentario.modal" hide-footer>
            <textarea placeholder="Agrega un comentario sobre los cambios que relizaste" rows="6" v-model="comentario.text" class="form-control"></textarea>
            <div class="row justify-content-center my-3">
                <button class="btn btn-outline-primary" @click="triggerAction" type="submit">Enviar</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import HechoVictimizanteService from "../../services/HechoVictimizanteService";
    import {EventBus} from "../../EventBus";
    import MunicipioService from "../../services/MunicipioService";
    import DireccionForm from "../../components/DireccionForm";
    import Datepicker from "vuejs-datepicker";
    import DepartamentoService from "../../services/DepartamentoService";
    import {MonthPickerInput} from 'vue-month-picker';
    import moment from 'moment';
    import ResponsableService from "../../services/ResponsableHechoService";
    import FechaCasoService from "../../services/FechaCasoService";
    import GeneralesForm from "../generales/GeneralesForm";
    import EstadoCasoService from "../../services/EstadoCasoService";

    export default {
        name: "FormCaso",
        components: {GeneralesForm, DireccionForm, Datepicker, MonthPickerInput},
        props: {
            infoForm:{
                type:Object,
                required:false,
                default:null
            },
            editar:{
                type: Boolean,
                required:false,
                default: false
            }
        },

        data() {
            return {
                hechosVictimizantes:[],
                departamentos:[],
                municipios:[],
                responsables:[],
                estados:[],
                hechoSelected:"",
                estadoSelected:"",
                departamentoSelected:"",
                responsableSelected:"",
                municipioSelected:"",
                fechaDeRecepcion:'',
                form:{
                    hecho_victimizante_id: 1,
                    fecha_de_recepcion: "",
                    responsable_del_hecho_id: "",
                    municipio_codigo: "",
                    departamento_codigo: "",
                    direccion: "",
                    relato: "",
                    cantidad_personas_afectadas:0,
                    estado_proceso_caso_id:"",
                    fechas:[]
                },
                fechas:{
                    inicio:"",
                    fin:"",
                    tipo_fecha: "Mes",
                },
                generarDireccion: false,
                modalHechos:false,
                modalResponsables:false,
                modalEstados:false,
                comentario:{
                    modal:false,
                    text:"",
                    data:"",
                    action:""
                }
            }
        },

        methods: {
            async getParametricas(setData){
                EventBus.$emit('loading');
                this.hechosVictimizantes = (await HechoVictimizanteService.all()).data;
                this.departamentos = (await DepartamentoService.all()).data;
                this.responsables = (await ResponsableService.all()).data;
                this.estados = (await EstadoCasoService.all()).data;
                if(setData){
                    this.form = this.$props.infoForm;
                    if(this.form.hecho_victimizante_id !== "") {
                        this.hechoSelected = this.hechosComputed.find((item) => {
                            return Number(item.code) === Number(this.form.hecho_victimizante_id)
                        });
                    }
                    if(this.form.responsable_del_hecho_id !== "") {
                        this.responsableSelected = this.responsablesComputed.find((item) => {
                            return Number(item.code) === Number(this.form.responsable_del_hecho_id)
                        });
                    }
                    if(this.form.estado_proceso_caso_id !== "") {
                        this.estadoSelected = this.estadosComputed.find((item) => {
                            return Number(item.code) === Number(this.form.estado_proceso_caso_id)
                        });
                    }
                    if(this.form.departamento_codigo !== "") {
                        this.departamentoSelected = this.departamentosComputed.find((item) => {
                            return Number(item.code) === Number(this.form.departamento_codigo)
                        });
                        this.getMunicipios(true)
                    }
                    this.fechaDeRecepcion = this.form.fecha_de_recepcion;
                }
                EventBus.$emit('loading-close');
            },
            async getMunicipios(setMunicipio = false){
                EventBus.$emit('loading');
                try {
                    if(this.departamentoSelected !== null && this.departamentoSelected !== '' && this.departamentoSelected !== undefined) {
                        this.municipioSelected = null;
                        this.municipios = (await MunicipioService.all(this.departamentoSelected.code)).data;
                        if(setMunicipio && this.form.municipio_id !== "" && this.form.municipio_id !== null){
                            this.municipioSelected = this.municipiosComputed.find((item)=>{
                                return Number(item.code) === Number(this.form.municipio_id)
                            });
                        }
                        EventBus.$emit('loading-close');
                    }else{
                        EventBus.$emit('loading-close');
                        this.municipioSelected = null;
                        this.municipios = [];
                    }
                }catch (e) {
                    EventBus.$emit('loading-close');

                }
            },
            direccionGenerada(direccion){
                this.form.direccion = direccion;
                this.generarDireccion = false;
            },
            agregarDia(){
                if(this.yaExisteFecha()){
                    this.$swal({
                        title: "Error!",
                        text: 'El día ingresado ya existe o se cruza con una de las fechas',
                        icon: "error",
                    })
                }else{
                    let fecha = moment(this.fechas.inicio).format('YYYY-MM-DD');
                    let data = {id:this.getFechaId(),fecha_inicio:fecha,
                        fecha_final:fecha,tipo_fecha:'Día'};
                    if(fecha !== "Invalid date" && fecha !== null && fecha !== "") {
                        if (this.$props.editar) {
                            this.abrirModalComentario("crear",{data: data, tipo: "Día"})
                        } else {
                            this.form.fechas.push(data);
                            this.fechas = {
                                inicio: null,
                                fin: null,
                                tipo_fecha: "Día",
                            }
                        }
                    }else{
                        this.$swal({
                            title: "Error!",
                            text: "Por favor ingresa una fecha válida",
                            icon: "error",
                        })
                    }

                }
            },
            getFechaId(){
                let id;
                if(this.form.fechas.length > 0) {
                    id = Number(this.form.fechas[this.form.fechas.length - 1].id) + 1;
                }else{
                    id = 1;
                }
                return id;
            },
            agregarMes(){
                if(this.yaExisteFecha()){
                    this.$swal({
                        title: "Error!",
                        text: 'El mes ingresado ya existe',
                        icon: "error",
                    })
                }else {
                    let fechaInicio = moment(this.fechas.inicio.from).format('YYYY-MM-DD');
                    let fechaFin = moment(this.fechas.inicio.to).subtract(1, 'days').format('YYYY-MM-DD');
                    let data = {
                        id: this.getFechaId(), fecha_inicio: fechaInicio,
                        fecha_final: fechaFin, tipo_fecha:'Mes'
                    };
                    if(fechaInicio !== "Invalid date" && fechaInicio !== null && fechaInicio !== ""
                        && fechaFin !== "Invalid date" && fechaFin !== null && fechaFin !== "") {
                        if(this.$props.editar){
                            this.abrirModalComentario("crear",{data: data, tipo: "Mes"})
                        }else{
                            this.form.fechas.push(data);
                            this.fechas = {
                                inicio: null,
                                fin:null,
                                tipo_fecha: "Mes",
                            }
                        }
                    }else{
                        this.$swal({
                            title: "Error!",
                            text: "Por favor ingresa una fecha válida",
                            icon: "error",
                        })
                    }
                }
            },
            agregarPeriodo(){
                if(this.yaExisteFecha()){
                    this.$swal({
                        title: "Error!",
                        text: 'No puedes tener dos períodos que se crucen',
                        icon: "error",
                    })
                }else{
                    let fecha_inicio = moment(this.fechas.inicio).format('YYYY-MM-DD');
                    let fecha_fin = moment(this.fechas.fin).format('YYYY-MM-DD');
                    let data = {id:this.getFechaId(),fecha_inicio:fecha_inicio,
                        fecha_final:fecha_fin, tipo_fecha: "Período"};
                    if(fecha_inicio !== "Invalid date" && fecha_inicio !== null && fecha_inicio !== ""
                        && fecha_fin !== "Invalid date" && fecha_fin !== null && fecha_fin !== "") {
                        if (this.$props.editar) {
                            this.abrirModalComentario("crear",{data: data, tipo: "Período"})
                        } else {
                            this.form.fechas.push(data);
                            this.fechas = {
                                inicio: null,
                                fin: null,
                                tipo_fecha: "Período",
                            }
                        }
                    }else{
                        this.$swal({
                            title: "Error!",
                            text: "Por favor ingresa una fecha válida",
                            icon: "error",
                        })
                    }

                }
            },
            eliminarFecha(id){
                this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar esta fecha?',
                    icon: "warning",
                }).then(()=> {
                    if (this.$props.editar) {
                        this.abrirModalComentario("eliminar", id)
                    } else {
                        this.form.fechas = this.form.fechas.filter(item => {
                            return item.id !== id
                        })
                    }
                })
            },
            async validateForm(){
                let pasoValidacion = await this.$refs.form.validate();
                if (pasoValidacion) {
                    if(this.form.fechas.length === 0){
                        this.$swal({
                            title: "Error!",
                            text: 'No has ingresado ninguna fecha del hecho',
                            icon: "error",
                        })
                    }else{
                        this.form.fecha_de_recepcion = moment(this.fechaDeRecepcion).format('YYYY-MM-DD');
                        this.form.municipio_codigo = this.municipioSelected.code;
                        this.form.departamento_codigo = this.departamentoSelected.code;
                        this.form.hecho_victimizante_id = this.hechoSelected.code;
                        this.form.responsable_del_hecho_id = this.responsableSelected.code;
                        this.form.estado_proceso_caso_id = this.estadoSelected.code;
                        this.$emit('formValidado',this.form)
                    }
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores en el formulario antes de enviar',
                        icon: "error",
                    })
                }
            },
            checkMonth(data){
                if(moment().format('YYYY-MM-DD') < moment(data.from).format('YYYY-MM-DD')){
                    this.$swal({
                        title: "Error!",
                        text: 'No puedes agregar un mes posterior al actual',
                        icon: "error",
                    })
                }else{
                    this.fechas.inicio = data
                }
            },
            yaExisteFecha(){
                let yaExiste = false;
                let i = 0;
                let fechas = this.form.fechas;
                if(fechas.length > 0) {
                    while (yaExiste === false && i < fechas.length) {
                        let inicio = moment(this.fechas.inicio).format('YYYY-MM-DD');
                        let final = moment(this.fechas.fin).format('YYYY-MM-DD');
                        if (fechas[i].fecha_inicio <= inicio) {
                            if(fechas[i].fecha_final >= final){
                                yaExiste = true;
                            }
                        }else{
                            if(final > fechas[i].fecha_inicio){
                                yaExiste = true;
                            }
                        }
                        i++;
                    }
                }
                return yaExiste;
            },
            async guardarHecho(data){
                try{
                    let resp = await HechoVictimizanteService.store(data);
                    this.modalHechos= false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'El hecho victimizante se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getParametricas(false);
                        this.hechoSelected = {label: resp.data.descripcion, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async guardarResponsable(data){
                try{
                    let resp = await ResponsableService.store(data);
                    this.modalResponsables= false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'El responsable del hecho se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getParametricas(false);
                        this.responsableSelected = {label: resp.data.descripcion, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async guardarEstado(data){
                try{
                    let resp = await EstadoCasoService.store(data);
                    this.modalEstados = false;
                    this.$swal({
                        title: "Bien!!",
                        text: 'El estado se guardó correctamente',
                        icon: "success",
                    }).then(()=>{
                        this.getParametricas(false);
                        this.estadoSelected = {label: resp.data.descripcion, code: resp.data.id}
                    });
                }catch(error){
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            vaciarInputFechas(){
                this.fechas.inicio = null;
                this.fechas.fin = null;
            },
            triggerAction(){
                if(this.comentario.action === "crear"){
                    this.guardarFechaAPI(this.comentario.data.data, this.comentario.data.tipo);
                }else if(this.comentario.action === "eliminar"){
                    this.eliminarFechaAPI(this.comentario.data)
                }
            },
            abrirModalComentario(action, data){
                this.comentario.action = action;
                this.comentario.data = data;
                if(this.hasRole('casos')) {
                    this.comentario.modal = true
                }else{
                    this.triggerAction()
                }
            },
            guardarFechaAPI(data, tipo){
                this.comentario.modal = false;
                this.comentario.text = "";
                FechaCasoService.store(this.$props.infoForm.id, data).then((resp) => {
                    if(this.hasRole('administrador')) {
                        this.form.fechas.push(resp.data);
                    }else{
                        this.$swal({
                            title: "Bien!",
                            text: "Se notificó al administrador tu solicitud de agregar esta fecha",
                            icon: "success",
                        })
                    }
                    this.fechas = {
                        inicio: null,
                        fin: null,
                        tipo_fecha: tipo,
                    }
                }).catch(error => {
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                });
            },
            eliminarFechaAPI(id){
                this.comentario.modal = false;
                this.comentario.text = "";
                FechaCasoService.delete(id).then(()=>{
                    if(this.hasRole('administrador')) {
                        this.form.fechas = this.form.fechas.filter(item => {
                            return item.id !== id
                        })
                    }else{
                        this.$swal({
                            title: "Bien!",
                            text: "Se notificó al administrador tu solicitud de eliminar esta fecha",
                            icon: "success",
                        })
                    }
                }).catch(error=>{
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                })
            }
        },

        mounted() {
            this.getParametricas(this.$props.infoForm !== null);
            EventBus.$on('validate-casos-form',this.validateForm);
            EventBus.$on('enviando-editar-caso',this.validateForm);
            let vm = this;
            EventBus.$on('get-casos-form-data', function () {
                vm.form.fecha_de_recepcion = vm.fechaDeRecepcion !== "" && vm.fechaDeRecepcion !== null ? moment(vm.fechaDeRecepcion).format('YYYY-MM-DD') : "";
                vm.form.municipio_codigo = vm.municipioSelected !== "" && vm.municipioSelected !== null ? vm.municipioSelected.code : "";
                vm.form.departamento_codigo = vm.departamentoSelected !== "" && vm.departamentoSelected !== null ? vm.departamentoSelected.code : "";
                vm.form.hecho_victimizante_id = vm.hechoSelected !== "" && vm.hechoSelected !== null ? vm.hechoSelected.code : "";
                vm.$emit('getData',vm.form)
            })
        },
        computed: {
            hechosComputed() {
                let arr = [];
                this.hechosVictimizantes.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            departamentosComputed() {
                let arr = [];
                this.departamentos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipiosComputed() {
                let arr = [];
                this.municipios.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            responsablesComputed() {
                let arr = [];
                this.responsables.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            estadosComputed() {
                let arr = [];
                this.estados.forEach(item => {
                    arr.push({label: item.descripcion, code: item.id})
                });
                return arr
            },
            today() {
                let date = new Date();
                date.setDate(date.getDate() + 1);
                return new Date();
            },
        },
        watch:{
            infoForm(){
                this.getParametricas(this.$props.infoForm !== null);
            }
        }
    }
</script>

<style>
    .month-picker-input{
        width: 100%;
        height: 36px;
    }
    .month-picker__container.month-picker--default{
        background: white;
    }
</style>
