<template>
    <div>
        <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="guardar()">
            <div class="form-group">
                <ValidationProvider rules="required" v-slot="{ errors }" name="descripción">
                    <input v-model="form.descripcion" class="form-control" placeholder="Descripción">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group" v-if="tipoDeDocumento">
                <ValidationProvider rules="required|max:2" v-slot="{ errors }" name="sigla">
                    <input v-model="form.sigla" class="form-control uppercase" placeholder="Sigla">
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group" v-if="comunidad">
                <ValidationProvider rules="required" v-slot="{ errors }" name="departamento">
                    <label for="departamento">Departamento</label>
                    <v-select :options="departamentosComputed" id="departamento" v-model="departamentoSelected" @input="getMunicipios"></v-select>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="form-group" v-if="comunidad">
                <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                    <label for="municipio">Municipio</label>
                    <v-select :options="municipiosComputed" id="municipio" v-model="municipioSelected"></v-select>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary" :disabled="invalid" type="submit">Guardar</button>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import {EventBus} from "../../EventBus";
    import MunicipioService from "../../services/MunicipioService";
    import DepartamentoService from "../../services/DepartamentoService";

    export default {
        name: "GeneralesForm",

        props: {
            tipoDeDocumento: {
                type: Boolean,
                required: false,
                default: false
            },
            comunidad: {
                type: Boolean,
                required: false,
                default: false
            },
            itemData:{
                required: true,
            }
        },

        watch: {
            itemData(){
                this.actualizarForm()
            }
        },

        data() {
            return {
                form:{
                    descripcion:"",
                    sigla:"",
                    municipio_codigo:""
                },
                departamentos:[],
                municipios:[],
                municipioSelected:"",
                departamentoSelected:""
            }
        },

        methods: {
            async guardar(){
                let pasoValidacion = await this.$refs.observer.validate();
                if (pasoValidacion) {
                    if(this.$props.comunidad) {
                        this.form.municipio_codigo = this.municipioSelected.code.toString();
                    }
                    this.$emit('guardar', this.form)
                }else{
                    this.$swal({
                        title: "Error!",
                        text: 'Debes corregir los errores antes de enviar',
                        icon: "error",
                    })
                }
            },
            actualizarForm(){
                this.form.descripcion = this.$props.itemData.descripcion
                if(this.$props.tipoDeDocumento) {
                    this.form.sigla = this.$props.itemData.sigla
                }
                if(this.$props.comunidad) {
                    this.form.municipio_codigo = this.$props.itemData.municipio_codigo
                }
            },
            async getMunicipios(selectMunicipio = false){
                EventBus.$emit('loading');
                try {
                    if(this.departamentoSelected !== null && this.departamentoSelected !== '') {
                        this.municipioSelected = null;
                        this.municipios = (await MunicipioService.all(this.departamentoSelected.code)).data
                        if(selectMunicipio){
                            this.municipioSelected = this.municipiosComputed.find(item=>{
                                return Number(this.$props.itemData.municipio_codigo) === Number(item.code)
                            });
                        }
                        EventBus.$emit('loading-close');
                    }else{
                        this.municipioSelected = null;
                        EventBus.$emit('loading-close');
                        this.municipios = [];
                    }
                }catch (e) {
                    EventBus.$emit('loading-close');
                }
            },
            async getDepartamentos(){
                this.departamentos = (await DepartamentoService.all()).data;
                if(this.$props.itemData.municipio_codigo !== ""){
                    this.departamentoSelected = this.departamentosComputed.find(item=>{
                        return Number(this.$props.itemData.municipios.departamento_codigo) === Number(item.code)
                    });
                    this.getMunicipios(true)
                }
            }
        },

        computed:{
            departamentosComputed(){
                let arr = [];
                this.departamentos.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            },
            municipiosComputed(){
                let arr = [];
                this.municipios.forEach(item => {
                    arr.push({label: item.descripcion, code: item.codigo})
                });
                return arr
            }
        },

        mounted() {
            if(this.$props.comunidad){
                this.getDepartamentos()
            }
            this.actualizarForm()
        }
    }
</script>
