<template>
    <div class="bg-light-gray my-container">
        <div class="container">
            <Loading :active.sync="isLoading"
                     :can-cancel="false"
                     :is-full-page="true" color="#49AF73" loader="dots"></Loading>
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Generales &nbsp;</h1>
            </div>
            <div class="row justify-content-between mb-3">
                <div class="col col-12 col-md-4 col-lg-auto px-0 mb-2">
                    <select v-model="selectParametrizacion" class="form-control" @change="getData">
                        <option>Hechos victimizantes</option>
                        <option>Tipos de documentos</option>
                        <option>Grupos étnicos</option>
                        <option>Grupos indígenas</option>
                        <option>Estados civiles</option>
                        <option>Grados de escolaridad</option>
                        <option>Organizaciones</option>
                        <option>Comunidades</option>
                        <option>Responsables del hecho</option>
                        <option>Estados del caso</option>
                    </select>
                </div>
                <div class="col col-12 col-md-auto px-0 mb-2">
                    <button class="btn btn-primary"
                    @click="crear">{{btnText}}</button>
                </div>
            </div>
            <!-- Modal -->
            <b-modal :title="accionModal +' '+ tablasParametricas[selectParametrizacion].btn " v-model="isModalOpen" hide-footer>
                <GeneralesForm @guardar="(data)=>{enviarForm(data)}"
                               :tipo-de-documento="selectParametrizacion === 'Tipos de documentos'"
                               :comunidad="selectParametrizacion === 'Comunidades'"
                                :item-data="itemData"
                />
            </b-modal>
            <!-- Tabla -->
            <div class="bg-white rounded p-3 table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th v-if="selectParametrizacion === 'Tipos de documentos'">Sigla</th>
                            <th v-if="selectParametrizacion === 'Comunidades'">Municipio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <td>{{item.id}}</td>
                            <td>{{item.descripcion}}</td>
                            <td v-if="selectParametrizacion === 'Tipos de documentos'">{{item.sigla}}</td>
                            <td v-if="selectParametrizacion === 'Comunidades'">{{item.municipios.descripcion}}</td>
                            <td>
                                <a class="my-link" v-b-tooltip.hover title="Editar" href="javascript:void(0)" @click="editar(item)"><i class="fas fa-edit"></i></a>
                                <a v-if="(selectParametrizacion !== 'Grupos étnicos') || (selectParametrizacion === 'Grupos étnicos' && item.id !== 1)" class="my-link" v-b-tooltip.hover title="Eliminar" href="javascript:void(0)" @click="eliminar(item.id)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import TipoDocumentoService from "../../services/TipoDocumentoService";
    import GrupoEtnicoService from "../../services/GrupoEtnicoService";
    import GrupoIndigenaService from "../../services/GrupoIndigenaService";
    import EstadoCivilService from "../../services/EstadoCivilService";
    import GradoEscolaridadService from "../../services/GradoEscolaridadService";
    import GeneralesForm from "./GeneralesForm";
    import HechoVictimizanteService from "../../services/HechoVictimizanteService";
    import OrganizacionService from "../../services/OrganizacionService";
    import ComunidadService from "../../services/ComunidadService";
    import ResponsableService from "../../services/ResponsableHechoService";
    import EstadoCasoService from "../../services/EstadoCasoService";

    export default {
        name: "GeneralesIndex",

        props: {

        },

        data() {
            return {
                btnText: '+ Agregar Hecho Victimizante',
                selectParametrizacion: 'Hechos victimizantes',
                tablasParametricas: {
                    "Hechos victimizantes": {btn:"hecho victimizante", service:HechoVictimizanteService,articulo:'el',storeVuex:'agregarHechoVictimizante',updateVuex:'actualizarHechoVictimizante'},
                    "Tipos de documentos": {btn: "tipo de documento", service: TipoDocumentoService,articulo:'el',storeVuex:'agregarTipoDocumento',updateVuex:'actualizarTipoDocumento'},
                    "Grupos étnicos": {btn:"grupo étnico", service: GrupoEtnicoService,articulo:'el',storeVuex:'agregarGrupoEtnico',updateVuex:'actualizarGrupoEtnico'},
                    "Grupos indígenas": {btn:"grupo indígena",service:GrupoIndigenaService,articulo:'el',storeVuex:'agregarGrupoIndigena',updateVuex:'actualizarGrupoIndigena'},
                    "Estados civiles": {btn:"estado civil",service:EstadoCivilService,articulo:'el',storeVuex:'agregarEstadoCivil',updateVuex:'actualizarEstadoCivil'},
                    "Grados de escolaridad": {btn:"grado de escolaridad",service:GradoEscolaridadService,articulo:'el',storeVuex:'agregarGradoEscolaridad',updateVuex:'actualizarGradoEscolaridad'},
                    "Organizaciones": {btn:"organización",service:OrganizacionService,articulo:'la',storeVuex:'agregarOrganizacion',updateVuex:'actualizarOrganizacion'},
                    "Comunidades": {btn:"comunidad",service:ComunidadService,articulo:'la',storeVuex:'agregarComunidad',updateVuex:'actualizarComunidad'},
                    "Responsables del hecho": {btn:"responsable",service:ResponsableService,articulo:'el',storeVuex:'agregarResponsable',updateVuex:'actualizarResponsable'},
                    "Estados del caso": {btn:"estado",service:EstadoCasoService,articulo:'el',storeVuex:'agregarEstado',updateVuex:'actualizarEstado'},
                },
                items:[],
                isLoading:false,
                isModalOpen: false,
                itemData:{
                    descripcion:"",
                    sigla:"",
                    municipio_codigo:"",
                },
                accionModal: 'Crear'
            }
        },

        methods: {
            getData(){
                this.isLoading = true;
                this.btnText = "+ Agregar "+this.tablasParametricas[this.selectParametrizacion].btn;
                this.tablasParametricas[this.selectParametrizacion]
                    .service.all().then(resp => {
                    this.isLoading = false;
                    this.items = resp.data
                    }).catch(error => {
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                })
            },
            async guardar(data){
                let vm = this;
                try{
                    let resp = await vm.tablasParametricas[vm.selectParametrizacion]
                        .service.store(data);
                    this.$store.commit(vm.tablasParametricas[vm.selectParametrizacion].storeVuex, resp.data)
                    vm.isModalOpen = false;
                    vm.alertaSuccess('se guardó correctamente');
                }catch(error){
                    vm.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async actualizar(data){
                let vm = this;
                try{
                    let resp = await vm.tablasParametricas[vm.selectParametrizacion]
                        .service.update(this.itemData.id,data);
                    this.$store.commit(this.tablasParametricas[this.selectParametrizacion].updateVuex,{id: resp.data.id, data: resp.data});
                    vm.isModalOpen = false;
                    vm.alertaSuccess('se actualizó correctamente.')
                }catch(error){
                    vm.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            enviarForm(data){
              if(this.accionModal === 'Crear'){
                  this.guardar(data)
              }else{
                  this.actualizar(data)
              }
            },
            crear(){
                this.accionModal = 'Crear';
                this.itemData={
                    descripcion:"",
                    sigla:"",
                    municipio_codigo: ""
                };
                this.isModalOpen = true;
            },
            editar(item){
                this.accionModal = 'Editar';
                this.itemData = item;
                this.isModalOpen = true;
            },
            async eliminar(id){
                let vm = this;
                try{
                    let word = vm.tablasParametricas[vm.selectParametrizacion].articulo === 'el' ? 'este' : 'esta';
                    let swalResp = await vm.$swal({
                        title: "¿Estás seguro?",
                        text: '¿Deseas eliminar '+word+' '+vm.tablasParametricas[vm.selectParametrizacion].btn+'?',
                        icon: "warning",
                        buttons:["No, cancelar!", "Si, eliminar"]
                    });
                    if(swalResp) {
                        await vm.tablasParametricas[vm.selectParametrizacion]
                            .service.delete(id);
                        vm.alertaSuccess('se eliminó correctamente')
                    }
                }catch (e) {

                }
            },
            alertaSuccess(message){
                let str = this.tablasParametricas[this.selectParametrizacion].articulo+' '+
                    this.tablasParametricas[this.selectParametrizacion].btn+' '+message;
                str = str.charAt(0).toUpperCase() + str.slice(1)
                this.$swal({
                    title: "Bien!",
                    text:str,
                    icon: "success",
                }).then(()=>{
                    this.getData()
                });
            }
        },

        mounted() {
            this.getData()
        },
        components:{
            GeneralesForm,
        }
    }
</script>

<style>

</style>
