<template>
    <div class="bg-light-gray my-container">
        <div class="container">
            <!-- Titulo -->
            <div class="d-flex justify-content-between linea-verde mb-3">
                <h1 class="h-primary bg-light-gray">Caso {{caso !== null ? caso.radicado : ''}} &nbsp;</h1>
            </div>

            <b-tabs content-class="bg-white p-3 border-primary-green" active-nav-item-class="btn btn-primary border-squared" fill>
                <b-tab title="Información" active>
                    <InfoEditarCaso :caso="caso" />
                </b-tab>
                <b-tab title="Documentos">
                    <DocumentosCaso :caso-id="Number($route.params.id)" />
                </b-tab>
                <b-tab title="Observaciones">
                    <ObservacionesCaso :caso-id="Number($route.params.id)" />
                </b-tab>
                <!--
                <b-tab title="Seguimiento">
                    <p>Seguimiento</p>
                </b-tab>
                -->
            </b-tabs>
        </div>
    </div>
</template>

<script>
    import FormCaso from "../FormCaso";
    import DocumentosCaso from "../documentos/DocumentosCaso";
    import InfoEditarCaso from "./InfoEditarCaso";
    import CasoService from "../../../services/CasoService";
    import {EventBus} from "../../../EventBus";
    import ObservacionesCaso from "./ObservacionesCaso";
    export default {
        name: "EditarCaso",
        components: {ObservacionesCaso, InfoEditarCaso, DocumentosCaso, FormCaso},
        props: {

        },

        data() {
            return {
                caso:null
            }
        },

        methods: {
            async getInfoCaso(){
                EventBus.$emit('loading')
                this.caso = (await CasoService.find(this.$route.params.id)).data;
                EventBus.$emit('loading-close')
            }
        },

        mounted() {
            this.getInfoCaso();
            EventBus.$on('reloadForm',this.getInfoCaso)
        }
    }
</script>
