<template>
    <div>
        <h3 class="h-3">Datos del denunciante</h3>
        <Denunciante :vista-editar-caso="true"
        :denunciante-id="infoCaso !== null ? infoCaso.denunciante_id : ''" @next="(id)=>{setDenunciante(id)}"
        />
        <hr>
        <!-- Victima -->
        <h3 class="h-3">Datos de la víctima</h3>
        <Victima :tipo-victima="infoCaso !== null ? (infoCaso.victima_id !== null ? 'persona':'comunidad') : ''"
                 :organizacion-victima="infoCaso !== null ? infoCaso.organizacion_victima_id : ''"
            :victima-id="infoCaso !== null ? infoCaso.victima_id : ''" :vista-editar-caso="true"
        @next="(data)=>{setVictima(data)}"/>
        <hr>
        <!-- Info Caso -->
        <h3 class="h-3">Información del Caso</h3>
        <FormCaso @formValidado="(data)=>{setInfoCaso(data)}" :info-form="infoCaso" :editar="true" />
        <div class="row my-3 justify-content-center" v-if="hasRole('casos') || hasRole('administrador')">
            <button class="btn btn-primary" @click="abrirComentarioModal">Actualizar</button>
        </div>
        <b-modal title="Agregar Comentario" v-model="comentario.modal" hide-footer>
            <textarea placeholder="Agrega un comentario sobre los cambios que relizaste" rows="6" v-model="result.comentario" class="form-control"></textarea>
            <div class="row justify-content-center my-3">
                <button class="btn btn-outline-primary" @click="sendForm" type="submit">Enviar</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import FormCaso from "../FormCaso";
    import Victima from "../crear/Victima";
    import Denunciante from "../crear/Denunciante";
    import {EventBus} from "../../../EventBus";
    import CasoService from "../../../services/CasoService";
    export default {
        name: "InfoEditarCaso",
        components: {Denunciante, Victima, FormCaso},
        props: ['caso'],

        data() {
            return {
                infoCaso:this.$props.caso,
                result:{
                    denunciante_id:"",
                    victima_id:"",
                    tipo_victima:"",
                    organizacion_victima_id:"",
                    info_caso:{},
                    comentario:""
                },
                comentario:{
                    modal:false,
                }
            }
        },
        watch:{
          caso(){
              this.infoCaso = this.$props.caso
          }
        },
        methods: {
            sendForm(){
                this.comentario.modal = false;
                EventBus.$emit('enviando-editar-caso')
                EventBus.$emit('loading')
                setTimeout(this.sendFormFase2, 1000)
            },
            async sendFormFase2(){
                try {
                    await CasoService.update(this.infoCaso.id, this.result);
                    EventBus.$emit('loading-close');
                    this.result.comentario = "";
                    let message = "";
                    if(this.hasRole('administrador')){
                        message = "El caso se actualizó correctamente"
                    }else{
                        message = "Tu solicitud de editar este cambio se notificó al administrador"
                    }
                    this.$swal({
                        title: "Bien!",
                        text: message,
                        icon: "success",
                    });
                }catch (e) {
                    this.comentario.modal = false;
                    this.result.comentario = "";
                    EventBus.$emit('loading-close')
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            setDenunciante(id){
                this.result.denunciante_id = id;
            },
            setVictima(data){
                this.result.victima_id = data.victima_id;
                this.result.tipo_victima = data.tipo_victima;
                this.result.organizacion_victima_id = data.organizacion_victima_id === null ? "" : data.organizacion_victima_id;
            },
            setInfoCaso(data){
                this.result.info_caso = data
            },
            abrirComentarioModal(){
                if(this.hasRole('administrador')){
                    this.sendForm()
                }else{
                    this.comentario.modal = true;
                }
            }

        },

        mounted() {

        }
    }
</script>
