<template>
    <div>
        <div class="row justify-content-between mb-4">
            <h3 class="h-3 pt-2 mb-0">Observaciones del caso</h3>
            <div class="col col-12 col-md-6 col-lg-4">
                <input v-model="inputBusqueda" @change="getActualizaciones" class="form-control" style="border-radius: 200px" placeholder="Buscar observación...">
            </div>
        </div>
        <div v-for="actualizacion in actualizaciones" class="bg-light-gray my-2 p-3">
            <div class="row justify-content-between">
                <h5 class="text-primary-green">{{actualizacion.user.name}}</h5>
                <p class="text-dark">
                    {{(actualizacion.created_at.split(" "))[0]}}
                    <a v-if="hasRole('administrador') || hasRole('casos')" href="javascript:void(0)" @click="()=>{editar(actualizacion)}" class="mx-2"><i class="fas fa-edit"></i></a>
                    <a v-if="hasRole('administrador') || hasRole('casos')" href="javascript:void(0)" @click="()=>{abrirModalComentario('eliminar',actualizacion.id)}" class="mr-2"><i class="fas fa-trash"></i></a>
                </p>
            </div>
            <p>{{actualizacion.descripcion}}</p>
        </div>
        <hr v-if="hasRole('administrador') || hasRole('casos')">
        <ValidationObserver ref="validator" v-if="hasRole('administrador') || hasRole('casos')" tag="form" @submit.prevent="abrirModalComentario('crear')">
            <ValidationProvider rules="required" v-slot="{ errors }" name="descripcion">
                <textarea placeholder="Agregar Observación" id="descripcion" rows="6" v-model="descripcion" class="form-control"></textarea>
                <small class="text-danger">{{errors[0]}}</small>
            </ValidationProvider>
            <div class="row justify-content-center my-3">
                <button class="btn btn-outline-primary" type="submit">Agregar</button>
            </div>
        </ValidationObserver>
        <!-- Modal -->
        <b-modal title="Editar Observación" v-model="formEditar.modal" size="lg" hide-footer>
            <ValidationObserver tag="form" @submit.prevent="abrirModalComentario('editar')">
                <ValidationProvider rules="required" v-slot="{ errors }" name="descripcion">
                    <textarea placeholder="Agregar Observación" rows="6" v-model="formEditar.descripcion" class="form-control"></textarea>
                    <small class="text-danger">{{errors[0]}}</small>
                </ValidationProvider>
                <div class="row justify-content-center my-3">
                    <button class="btn btn-outline-primary" type="submit">Actualizar</button>
                </div>
            </ValidationObserver>
        </b-modal>
        <b-modal title="Agregar Comentario" v-model="comentario.modal" hide-footer>
            <textarea placeholder="Agrega un comentario sobre los cambios que relizaste" rows="6" v-model="comentario.text" class="form-control"></textarea>
            <div class="row justify-content-center my-3">
                <button class="btn btn-outline-primary" @click="ejecutarAccion" type="submit">Enviar</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import ObservacionService from "../../../services/ObservacionService";
    import { EventBus } from "../../../EventBus";

    export default {
        name: "ObservacionesCaso",

        props: ['casoId'],

        data() {
            return {
                actualizaciones:[],
                caso_id: "",
                descripcion:"",
                formEditar:{
                    modal:false,
                    descripcion:"",
                    id:""
                },
                comentario:{
                    modal:false,
                    text:"",
                    action:"",
                    data:""
                },
                inputBusqueda:""
            }
        },

        methods: {
            async guardar(){
                try{
                    let data = {caso_id: this.caso_id, descripcion: this.descripcion, comentario: this.comentario.text};
                    await ObservacionService.store(data);
                    this.comentario.modal = false;
                    this.comentario.text = "";
                    let message = this.hasRole('administrador') ? 'La observación se agregó correctamente' :
                        'Tu solicitud de agregar esta observación fue enviada al administrador';
                    this.$swal({
                        title: "Bien!!",
                        text: message,
                        icon: "success",
                    }).then(()=>{
                        this.descripcion = "";
                        this.$refs.validator.reset();
                        this.getActualizaciones()
                    });
                }catch(error){
                    this.comentario.modal = false;
                    this.comentario.text = "";
                    this.$swal({
                        title: "Error!",
                        text: error.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            async getActualizaciones(){
                EventBus.$emit('loading')
                let resp = await ObservacionService.all(this.caso_id,'?termino='+this.inputBusqueda);
                this.actualizaciones = resp.data;
                EventBus.$emit('loading-close')
            },
            async eliminar(id){
                let swalResp = await this.$swal({
                    title: "¿Estás seguro?",
                    text: '¿Deseas eliminar esta observación?',
                    icon: "warning",
                    buttons:["No, cancelar!", "Si, eliminar"]
                });
                if(swalResp) {
                    this.comentario.modal = false;
                    this.comentario.text = "";
                    let message = this.hasRole('administrador') ? 'La observación se eliminó correctamente' :
                        'Tu solicitud de eliminar esta observación fue enviada al administrador';
                    try {
                        await ObservacionService.delete(id, {comentario: this.comentario.text})
                        this.$swal({
                            title: "Bien!!",
                            text: message,
                            icon: "success",
                        }).then(() => {
                            this.getActualizaciones();
                        });
                    }catch (e) {
                        this.$swal({
                            title: "Error!",
                            text: e.response.data.error === undefined ? e.response.data[1] : e.response.data.error.toString(),
                            icon: "error",
                        })
                    }
                }
            },
            editar(data){
                this.formEditar.id = data.id;
                this.formEditar.descripcion = data.descripcion;
                this.formEditar.modal = true;
            },
            async actualizarObservacion(){
                try {
                    this.formEditar.comentario = this.comentario.text;
                    await ObservacionService.update(this.formEditar.id, this.formEditar);
                    this.comentario.modal = false;
                    this.comentario.text = "";
                    let message = this.hasRole('administrador') ? 'La observación se actualizó correctamente' :
                        'Tu solicitud de actualizar esta observación fue enviada al administrador';
                    this.$swal({
                        title: "Bien!!",
                        text: message,
                        icon: "success",
                    }).then(() => {
                        this.getActualizaciones();
                        this.formEditar.modal = false;
                    });
                }catch (e) {
                    this.comentario.modal = false;
                    this.comentario.text = "";
                    this.$swal({
                        title: "Error!",
                        text: e.response.data.error.toString(),
                        icon: "error",
                    })
                }
            },
            abrirModalComentario(action, data = ""){
                this.comentario.action = action;
                this.comentario.data = data;
                if(this.hasRole('casos')) {
                    this.comentario.modal = true
                }else{
                    this.ejecutarAccion()
                }
            },
            ejecutarAccion(){
                if(this.comentario.action === "crear"){
                    this.guardar()
                }else if(this.comentario.action === "editar") {
                    this.actualizarObservacion()
                }else if(this.comentario.action === "eliminar"){
                    this.eliminar(this.comentario.data)
                }
            }
        },

        mounted() {
            this.caso_id = this.$props.casoId;
            this.getActualizaciones()
        }
    }
</script>
